<table width="100%" cellpadding="1" cellspacing="0" border="0" bordercolor="#FFF">
	<tr>
		<td align="center"><font size="10pt"><b>CỬA HÀNG TIỆN LỢI ABC</b></font></td>
	</tr>
	<tr>		
		<td align="center"><font size="10pt">Nguyễn Huệ, Vĩnh Long</font></td>
	</tr>
	<tr>
		<td align="center"><font size="13pt"><b>PHIẾU TÍNH TIỀN</b></font></td>
	</tr>
</table>
<br/><br/>
<font size="10pt">	
	<table style="padding-top:0px;" width="100%" cellpadding="1" cellspacing="0" border="0" bordercolor="#FFF">
		<tr>
			<td width="50%" align="left">
				<span tal:content="string:QUẦY 1"/>
			</td>
			<td width="50%" align="right">
				<span tal:content="Order/getDatePrint" />
			</td>
		</tr>
		<tr>
			<td width="50%" align="left">				
				ID: <span tal:content="Order/getId"/>
			</td>
			<td width="50%" align="right">
				NV: <span tal:content="Order/getUser/getName" />
			</td>
		</tr>		
	</table>
</font>
<br/>
<font size="9pt">
	<table style="padding-bottom:0px;" width="100%" cellpadding="2" cellspacing="0" border="1">
		<thead>
			<tr>
				<th width="42%"><b>TÊN HÀNG</b></th>
				<th width="11%" align="right"><b>SL</b></th>
				<th width="21%" align="right"><b>Đ.GIÁ</b></th>			
				<th width="26%" align="right"><b>T.TIỀN</b></th>
			</tr>
		</thead>
		<tbody>
			<tr tal:repeat="Detail Order/getDetailAll">
				<td width="42%" align='left' tal:content="Detail/getResource/getName" />
				<td width="11%" align='right' tal:content="Detail/getCount" />
				<td width="21%" align='right' tal:content="Detail/getPricePrint" />
				<td width="26%" align='right' ><span tal:content="Detail/getValuePrint" /></td>
			</tr>		
		</tbody>
	</table>
	<table style="padding-bottom:2px;" width="100%" cellpadding="2" cellspacing="0" border="0">
		<tbody>												
			<tr>
				<td align='right' colspan="5" width="100%">
					<font align='right' size="12pt">TỔNG TIỀN: <b tal:content="Order/getValuePrint"/></font>
				</td>
			</tr>
			<tr>
				<td align='right' colspan="5" width="100%">
					<p>( <span tal:content="Order/getValueStrPrint" /> )</p>
				</td>
			</tr>			
			<tr><td/></tr>
			<tr><td/></tr>
			<tr>
				<td align='center' colspan="5" width="100%">
					<font align='center' size="8pt">XIN CẢM ƠN QUÍ KHÁCH, HẸN GẶP LẠI</font>
				</td>
			</tr>
		</tbody>
	</table>	
</font>