<!DOCTYPE html>
<html lang="en">
	<body>		
		<div id="ResourceAll" class="widget-box">
			<div class="widget-content nopadding">
				<table class="table table-striped table-bordered">
					<tbody>
						<tr tal:repeat="Resource Category/getResourceAll">
							<td class="taskDesc"><button class="Course pull-left" tal:attributes="alt Resource/getId;data-delta 'plus' ">+</button></td>
							<td class="taskStatus"><strong tal:content="Resource/getName"/></td>
							<td class="taskDesc"><button class="Course pull-right" tal:attributes="alt Resource/getId;data-delta 'minus' ">-</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>