<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">				
				<div metal:use-macro="mFront.xhtml/LocationBar"/>				
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<header class="content-title">
								<h1 class="title">CÁC SẢN PHẨM ĐÃ CHỌN</h1>
								<p class="title-desc">
									Hãy sử dụng chức năng so sánh để tìm ra sản phẩm bạn ưng ý !
								</p>
							</header>
							<div class="xs-margin"></div><!-- space -->
							<div class="row">
								<div class="col-md-12 table-responsive">
									<table class="table cart-table">
										<thead>
											<tr>
												<th class="table-title">SẢN PHẨM</th>
											</tr>
										</thead>
										<tbody tal:repeat="Item Cart/getItems">
											<tr>
												<td class="item-name-col">
													<figure>
														<img tal:attributes="src php:Item['Image']" />
													</figure>
													<header class="item-name">
														<span tal:content="php:Item['Name']"/>
													</header>													
												</td>
											</tr>
										</tbody>										
									</table>
								</div><!-- End .col-md-12 -->
							</div><!-- End .row -->							
						</div><!-- End .col-md-12 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</section><!-- End #content -->
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>