<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<!--
		<div metal:use-macro="mFront.xhtml/OptionPanel"/>
		!-->
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">
				<div metal:use-macro="mFront.xhtml/LocationBar"/>
				<div id="category-header">
					<div class="row">
						<div class="container" tal:content="structure Category2/getInfo" />
					</div><!-- End .row -->
				</div><!-- End #category-header -->				
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9 col-sm-8 col-xs-12 main-content">
									<div class="category-toolbar clearfix">
										<div class="toolbox-filter clearfix">
											<div class="sort-box">
												<span class="separator">sắp xếp:</span>
												<div class="btn-group select-dropdown">
													<button type="button" class="btn select-btn">Vị trí</button>
													<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
														<i class="fa fa-angle-down"></i>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li><a href="#">Thời gian</a></li>
														<li><a href="#">Tên</a></li>
													</ul>
												</div>
											</div>
											<div class="view-box">
												<a href="#" class="active icon-button icon-grid"><i class="fa fa-th-large"></i></a>
												<a href="#" class="icon-button icon-list"><i class="fa fa-th-list"></i></a>
											</div><!-- End .view-box -->
										</div><!-- End .toolbox-filter -->
										<div class="toolbox-pagination clearfix">
											<ul class="pagination">
												<li tal:repeat="P PN/getPages" tal:attributes="class php: (P->getId()==Page)?'active':''">
													<a tal:attributes="href P/getURL" tal:content="P/getName" />
												</li>
											</ul>
											<div class="view-count-box">
												<span class="separator">xem:</span>
												<div class="btn-group select-dropdown">
													<button type="button" class="btn select-btn">10</button>
													<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
														<i class="fa fa-angle-down"></i>
													</button>
													<ul class="dropdown-menu" role="menu">
														<li><a href="#">15</a></li>
														<li><a href="#">30</a></li>
													</ul>
												</div>
											</div><!-- End .view-count-box -->
										</div><!-- End .toolbox-pagination -->
									</div><!-- End .category-toolbar -->
									<div class="md-margin"></div><!-- .space -->
									<div class="category-item-container">
										<div class="row">
											<div tal:repeat="Product ProductAll" class="col-md-4 col-sm-6 col-xs-12">
												<div class="item">
													<div class="item-image-container">
														<figure>
															<a tal:attributes="href Product/getURLView" tal:condition="Product/getInfo">
																<img tal:attributes="src Product/getInfo/getImage1" class="item-image"/>
																<img tal:attributes="src Product/getInfo/getImage2" class="item-image-hover"/>
															</a>
														</figure>
														<div class="item-price-container">															
															<span class="item-price" tal:content="Product/getPrice2Print" />
														</div>														
													</div><!-- End .item-image -->
													<div class="item-meta-container">
														<div class="ratings-container">
															<div class="ratings">
																<div class="ratings-result" data-result="90"></div>
															</div><!-- End .ratings -->
															<span class="ratings-amount">
																1 đánh giá
															</span>
														</div><!-- End .rating-container -->
														<h3 class="item-name"><a tal:attributes="href Product/getURLView" tal:content="Product/getName"/></h3>
														<div class="item-action">
															<a href="#" class="item-add-btn">
																<span class="icon-cart-text">Mua ngay</span>
															</a>
															<div class="item-action-inner">
																<a href="#" class="icon-button icon-like">Favourite</a>
																<a href="#" class="icon-button icon-compare">Checkout</a>
															</div><!-- End .item-action-inner -->
														</div><!-- End .item-action -->
													</div><!-- End .item-meta-container -->	
												</div><!-- End .col-md-4 -->
											</div><!-- End .row -->
										</div><!-- End .category-item-container -->
									</div>
								</div>
								<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
									<div class="widget">
										<div class="panel-group custom-accordion sm-accordion" id="category-filter">
											<div class="panel">
												<div class="accordion-header">
													<div class="accordion-title"><span>Danh mục</span></div><!-- End .accordion-title -->
													<a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-1"></a>
												</div><!-- End .accordion-header -->
												<div id="category-list-1" class="collapse in">
													<div class="panel-body">
														<ul class="category-filter-list jscrollpane">
															<li tal:repeat="Category2 Category1/getCategoryAll">
																<a tal:attributes="href Category2/getURLView"><span tal:content="Category2/getName"/> (<span tal:content="Category2/getProductAll/count"/>)</a>
															</li>
														</ul>
													</div><!-- End .panel-body -->
												</div><!-- #collapse -->
											</div><!-- End .panel -->
											<div class="panel">
												<div class="accordion-header">
													<div class="accordion-title"><span>Thương hiệu</span></div><!-- End .accordion-title -->
													<a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-2"></a>
												</div><!-- End .accordion-header -->
												<div id="category-list-2" class="collapse in">
													<div class="panel-body">
														<ul class="category-filter-list jscrollpane">
															<li tal:repeat="PM PMAll">
																<a href="#">
																	<span tal:content="PM/getManufacturer/getName"/>
																</a>
															</li>
														</ul>
													</div><!-- End .panel-body -->
												</div><!-- #collapse -->
											</div><!-- End .panel -->
											<div class="panel">
												<div class="accordion-header">
													<div class="accordion-title"><span>Giá</span></div><!-- End .accordion-title -->
													<a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-3"></a>
												</div><!-- End .accordion-header -->
												<div id="category-list-3" class="collapse in">
													<div class="panel-body">
														<div id="price-range"></div><!-- End #price-range -->
														<div id="price-range-details">
															<span class="sm-separator">từ</span>
															<input type="text" id="price-range-low" class="separator"/>
															<span class="sm-separator">đến</span>
															<input type="text" id="price-range-high"/>
														</div>
														<div id="price-range-btns">
															<a href="#" class="btn btn-custom-2 btn-sm">OK</a>
															<a href="#" class="btn btn-custom-2 btn-sm">Xóa</a>
														</div>
													</div><!-- End .panel-body -->
												</div><!-- #collapse -->
											</div><!-- End .panel -->											
										</div><!-- .panel-group -->
									</div><!-- End .widget -->									
									<div class="widget banner-slider-container">
										<div class="banner-slider flexslider">
											<ul class="banner-slider-list clearfix">
												<li><a href="#"><img src="/mvc/templates/front/images/banner1.jpg" alt="Banner 1"/></a></li>
												<li><a href="#"><img src="/mvc/templates/front/images/banner2.jpg" alt="Banner 2"/></a></li>
												<li><a href="#"><img src="/mvc/templates/front/images/banner3.jpg" alt="Banner 3"/></a></li>
											</ul>
										</div>
									</div><!-- End .widget -->
								</aside><!-- End .col-md-3 -->
							</div><!-- End .row -->
						</div><!-- End .col-md-12 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</section><!-- End #content -->
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>