<!DOCTYPE html>
<html lang="en">
  <head>
	<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
	<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
  </head>
  <body>
	<div metal:use-macro="mFront.xhtml/Header"/>    
    <div class="container">
        <div metal:use-macro="mFront.xhtml/PageTitle"/>
        <div metal:use-macro="mFront.xhtml/Menu"/>
		<div class="row-fluid">
			<div class="span3">
				<div class="row-fluid">
					<div class="span12">
						<h2>Địa chỉ</h2>
						<address tal:content="ConfigAddress/getValue" />
						<h2>Liên hệ</h2>
						<B tal:content="ConfigContact/getValue" /> - 
						<address tal:content="ConfigPhone/getValue" />
					</div>
				</div>
			</div>
			<div class="span9">
				<div class="row-fluid">
					<ul class="breadcrumb">
						<li><a href="#">Trang chủ</a> <span class="divider">/</span></li>
						<li class="active">Liên hệ</li>
					</ul>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<div class="page-header">
							<h1>Liên lạc nhanh với chúng tôi <small>sẽ được mức giá ưu đãi</small></h1>
						</div>

						<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=V%C4%A9nh+Long,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=V%C4%A9nh+Long&amp;sll=37.0625,-95.677068&amp;sspn=37.683309,86.572266&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=V%C4%A9nh+Long,+Vi%E1%BB%87t+Nam&amp;z=13&amp;ll=10.244844,105.958865&amp;output=embed"></iframe>						
						<p>Mọi thắc mắc giao dịch trên hệ thống bạn có thể liên lạc trực tiếp qua điện thoại hoặc qua
						tin nhắn trực tiếp.</p>						
						<form>
							<label class="control-label">Tên</label>
							<input type="text" class="input-xxlarge" required="true"/>
							<label class="control-label">Email</label>
							<input type="text" class="input-xxlarge" required="true"/>
							<label class="control-label">Chủ đề</label>
							<input type="text" class="input-xxlarge" required="true"/>
							<label class="control-label">Nội dung</label>
							<textarea class="input-xxlarge" rows="5" style="resize: none;" required="true"></textarea><br/>
							<input type="submit" name="submit" value="Gửi đi" class="btn"/>
						</form>
					</div>
				</div>
			</div>
		</div>	  
		<div metal:use-macro="mFront.xhtml/Footer"/>
		<div metal:use-macro="mFront.xhtml/FixedFunction"/>
		</div> <!-- /container -->
	<div metal:use-macro="mFront.xhtml/IncludeJS"/>
  </body>
</html>
