<!DOCTYPE html>
<html lang="en">
  <head>
	<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
	<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
  </head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>    
		<div class="container">
			<div metal:use-macro="mFront.xhtml/PageTitle"/>
			<div metal:use-macro="mFront.xhtml/Menu"/>           
			<div class="row-fluid">				
				<div class="span3">
					<div class="row-fluid">
						<ul class="nav nav-tabs nav-stacked">
							<li class="active"><a tal:content="Tag/getName"/></li>
							<li tal:repeat="PT Tag/getPostTop4">
								<a tal:attributes="href PT/getURLRead" tal:content="PT/getPost/getTitle"/>
							</li>
						</ul>										
					</div>
				</div>
				<div class="span9">
					<div class="row-fluid">
						<ul class="breadcrumb">
							<li><a href="/">TRANG CHỦ</a> <span class="divider">/</span></li>
							<li><a tal:attributes="href Tag/getURLView"><span tal:content="Tag/getName"/></a> <span class="divider">/</span></li>
							<li class="active"><span tal:content="Post/getTitle"/></li>
						</ul>
					</div>
					<div class="row-fluid">						
						<p tal:content="structure Post/getContent" />
					</div>
				</div>
			</div>			
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div> <!-- /container -->
		<div metal:use-macro="mFront.xhtml/UserOnline"/>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>