Options +FollowSymlinks
RewriteEngine on

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##

#---------------------------------------------------------------------------------------------------------------------------
# SYSTEM
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^signin/load$ 			?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 			?cmd=SigninExe [L]
RewriteRule ^signout/exe$ 			?cmd=SignoutExe [L]

RewriteRule ^object/load/([A-Za-z0-9]+)/([0-9]+)$ 			?cmd=ObjectLoad&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/del/([A-Za-z0-9]+)/([0-9]+)$ 			?cmd=ObjectDel&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/ins/([A-Za-z0-9]+)$ 					?cmd=ObjectIns&ObjectName=$1 [L]
RewriteRule ^object/upd/([A-Za-z0-9]+)$ 					?cmd=ObjectUpd&ObjectName=$1 [L]

RewriteRule ^s2a/get/one/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=S2AGet&Type=one&ObjectName=$1&ObjectId=$2 [L]
RewriteRule ^s2a/get/all/([A-Za-z0-9]+)$ 							?cmd=S2AGet&Type=all&ObjectName=$1 [L]
RewriteRule ^s2a/get/first/([A-Za-z0-9]+)$ 							?cmd=S2AGet&Type=first&ObjectName=$1 [L]
RewriteRule ^s2a/get/last/([A-Za-z0-9]+)$ 							?cmd=S2AGet&Type=last&ObjectName=$1 [L]
RewriteRule ^s2a/get/size/([A-Za-z0-9]+)$ 							?cmd=S2AGet&Type=size&ObjectName=$1 [L]
RewriteRule ^s2a/get/page/([A-Za-z0-9]+)/([0-9]+)/([0-9]+)$ 		?cmd=S2AGet&Type=page&ObjectName=$1&Page=$2&RPP=$3 [L]
RewriteRule ^s2a/get/range/([A-Za-z0-9]+)/([0-9]+)/([0-9]+)$ 		?cmd=S2AGet&Type=range&ObjectName=$1&Range1=$2&Range2=$3 [L]
RewriteRule ^s2a/get/byid/([A-Za-z0-9]+)/([A-Za-z0-9]+)/([0-9]+)$ 	?cmd=S2AGet&Type=byid&ObjectName=$1&ObjectParentName=$2&ObjectParentId=$3 [L]

#---------------------------------------------------------------------------------------------------------------------------
# MONEY
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^money$ 												?cmd=Money [L]

RewriteRule ^money/collect/general$ 								?cmd=MoneyCollectGeneral [L]
RewriteRule ^money/collect/general/([0-9]+)$ 						?cmd=MoneyCollectGeneral&IdTerm=$1 [L]
RewriteRule ^money/collect/general/([0-9]+)/page/([0-9]+)$ 			?cmd=MoneyCollectGeneral&IdTerm=$1&Page=$2 [L]

RewriteRule ^money/collect/customer$ 								?cmd=MoneyCollectCustomer [L]
RewriteRule ^money/collect/customer/([0-9]+)$ 						?cmd=MoneyCollectCustomer&IdCustomer=$1 [L]
RewriteRule ^money/collect/customer/([0-9]+)/page/([0-9]+)$ 		?cmd=MoneyCollectCustomer&IdCustomer=$1&Page=$2 [L]

RewriteRule ^money/paid/general$ 									?cmd=MoneyPaidGeneral [L]
RewriteRule ^money/paid/general/([0-9]+)$ 							?cmd=MoneyPaidGeneral&IdTerm=$1 [L]
RewriteRule ^money/paid/general/([0-9]+)/page/([0-9]+)$ 			?cmd=MoneyPaidGeneral&IdTerm=$1&Page=$2 [L]

RewriteRule ^money/paid/customer$ 									?cmd=MoneyPaidCustomer [L]
RewriteRule ^money/paid/customer/([0-9]+)$ 							?cmd=MoneyPaidCustomer&IdCustomer=$1 [L]
RewriteRule ^money/paid/customer/([0-9]+)/page/([0-9]+)$ 			?cmd=MoneyPaidCustomer&IdCustomer=$1&Page=$2 [L]

RewriteRule ^money/paid/supplier$ 									?cmd=MoneyPaidSupplier [L]
RewriteRule ^money/paid/supplier/([0-9]+)$ 							?cmd=MoneyPaidSupplier&IdSupplier=$1 [L]
RewriteRule ^money/paid/supplier/([0-9]+)/page/([0-9]+)$ 			?cmd=MoneyPaidSupplier&IdSupplier=$1&Page=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SELLING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^app$ 								?cmd=App [L]

#---------------------------------------------------------------------------------------------------------------------------
# EXPORT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^export$ 															?cmd=Export [L]
RewriteRule ^export/big/([0-9]+)$ 												?cmd=ExportBig&IdDomain=$1 [L]
RewriteRule ^export/big/([0-9]+)/([0-9]+)$ 										?cmd=ExportBigCustomer&IdDomain=$1&IdCustomer=$2 [L]
RewriteRule ^export/big/([0-9]+)/([0-9]+)/([0-9]+)$ 							?cmd=ExportBigCustomerTracking&IdDomain=$1&IdCustomer=$2&IdTracking=$3 [L]
RewriteRule ^export/big/([0-9]+)/([0-9]+)/([0-9]+)/page/([0-9]+)$ 				?cmd=ExportBigCustomerTracking&IdDomain=$1&IdCustomer=$2&IdTracking=$3&Page=$4 [L]

RewriteRule ^export/big/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)$ 					?cmd=ExportBigCustomerTrackingOrder&IdDomain=$1&IdCustomer=$2&IdTracking=$3&IdOrder=$4 [L]
RewriteRule ^export/big/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/call$ 				?cmd=ExportBigCustomerTrackingOrderCall&IdDomain=$1&IdCustomer=$2&IdTracking=$3&IdOrder=$4 [L]
RewriteRule ^export/big/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/call/([0-9]+)$ 		?cmd=ExportBigCustomerTrackingOrderCall&IdDomain=$1&IdCustomer=$2&IdTracking=$3&IdOrder=$4&IdSupplier=$5 [L]
RewriteRule ^export/big/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/call/([0-9]+)/exe$ 	?cmd=ExportBigCustomerTrackingOrderCallExe&IdDomain=$1&IdCustomer=$2&IdTracking=$3&IdOrder=$4&IdSupplier=$5 [L]
RewriteRule ^export/big/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/print$ 				?cmd=ExportBigCustomerTrackingOrderPrint&IdDomain=$1&IdCustomer=$2&IdTracking=$3&IdOrder=$4 [L]

RewriteRule ^export/tiny/([0-9]+)$ 												?cmd=ExportTiny&IdDomain=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# IMPORT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^import$ 								?cmd=Import [L]
RewriteRule ^import/([0-9]+)$ 						?cmd=ImportSupplier&IdSupplier=$1 [L]
RewriteRule ^import/([0-9]+)/page/([0-9]+)$ 		?cmd=ImportSupplier&IdSupplier=$1&Page=$2 [L]

RewriteRule ^import/([0-9]+)/([0-9]+)$				?cmd=ImportSupplierOrder&IdSupplier=$1&IdOrder=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/print$		?cmd=ImportSupplierOrderPrint&IdSupplier=$1&IdOrder=$2 [L]

RewriteRule ^import/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)$ 	?cmd=ImportSupplierOrderExe&IdSupplier=$1&IdOrder=$2&IdResource=$3&Count=$4&Price=$5 [L]

#---------------------------------------------------------------------------------------------------------------------------
# REPORT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^report$ 									?cmd=Report [L]
RewriteRule ^report/([0-9]+)$ 							?cmd=ReportDetail&IdTrack=$1 [L]

RewriteRule ^report/paid/([0-9]+)$ 						?cmd=ReportPaidGeneral&IdTrack=$1 [L]
RewriteRule ^report/paid/([0-9]+)/([0-9]+)$ 			?cmd=ReportPaidDetail&IdTrack=$1&IdTerm=$2 [L]
RewriteRule ^report/paid/payroll/([0-9]+)$ 				?cmd=ReportPaidPayRoll&IdTrack=$1 [L]

RewriteRule ^report/customer/([0-9]+)$ 							?cmd=ReportCustomer&IdTrack=$1 [L]
RewriteRule ^report/customer/([0-9]+)/([0-9]+)$					?cmd=ReportCustomerTracking&IdTrack=$1&IdCustomer=$2 [L]
RewriteRule ^report/customer/([0-9]+)/([0-9]+)/([0-9]+)$		?cmd=ReportCustomerTrackingDetail&IdTrack=$1&IdCustomer=$2&IdCT=$3 [L]
RewriteRule ^report/customer/([0-9]+)/([0-9]+)/([0-9]+)/save$	?cmd=ReportCustomerTrackingDetail&IdTrack=$1&IdCustomer=$2&IdCT=$3&Save=yes [L]
RewriteRule ^report/customer/([0-9]+)/([0-9]+)/([0-9]+)/print$	?cmd=ReportCustomerTrackingDetailPrint&IdTrack=$1&IdCustomer=$2&IdCT=$3 [L]

RewriteRule ^report/collect/([0-9]+)$ 					?cmd=ReportCollectGeneral&IdTrack=$1 [L]
RewriteRule ^report/collect/([0-9]+)/([0-9]+)$ 			?cmd=ReportCollectDetail&IdTrack=$1&IdTerm=$2 [L]

RewriteRule ^report/import/([a-z0-9]+)/general$ 		?cmd=ReportImportGeneral&IdTrack=$1 [L]
RewriteRule ^report/import/([a-z0-9]+)/([a-z0-9]+)$ 	?cmd=ReportImportDetail&IdTrack=$1&IdSupplier=$2 [L]
RewriteRule ^report/store/([a-z0-9]+)$ 					?cmd=ReportStore&IdTrack=$1 [L]
RewriteRule ^report/store/([a-z0-9]+)/eval$ 			?cmd=ReportEvalStore&IdTrack=$1 [L]
RewriteRule ^report/course/([a-z0-9]+)$ 				?cmd=ReportCourse&IdTrack=$1 [L]
RewriteRule ^report/general/([a-z0-9]+)$ 				?cmd=ReportGeneral&IdTrack=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.INFO
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting$ 											?cmd=Setting [L]
RewriteRule ^setting/theme/([a-z0-9_-]+)$ 						?cmd=SettingThemeChangeExe&Theme=$1 [L]

RewriteRule ^setting/domain$ 									?cmd=SettingDomain [L]
RewriteRule ^setting/domain/page/([0-9]+)$ 						?cmd=SettingDomain&Page=$1 [L]
RewriteRule ^setting/employee$ 									?cmd=SettingEmployee [L]
RewriteRule ^setting/employee/page/([0-9]+)$ 					?cmd=SettingEmployee&Page=$1 [L]

RewriteRule ^setting/customer$ 									?cmd=SettingCustomer [L]
RewriteRule ^setting/customer/page/([0-9]+)$ 					?cmd=SettingCustomer&Page=$1 [L]
RewriteRule ^setting/customer/([0-9]+)/domain$ 					?cmd=SettingCustomerDomain&IdCustomer=$1 [L]

RewriteRule ^setting/supplier$ 									?cmd=SettingSupplier [L]
RewriteRule ^setting/supplier/page/([0-9]+)$ 					?cmd=SettingSupplier&Page=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/domain$ 					?cmd=SettingSupplierDomain&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)$ 						?cmd=SettingSupplierResource&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/page/([0-9]+)$ 			?cmd=SettingSupplierResource&IdSupplier=$1&Page=$2 [L]

RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/tag$ 				?cmd=SettingResourceTag&IdSupplier=$1&IdResource=$2 [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/tag/([0-9]+)/no$ 	?cmd=SettingResourceTagExe&IdSupplier=$1&IdResource=$2&IdTag=$3&State=no [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/tag/([0-9]+)/yes$ 	?cmd=SettingResourceTagExe&IdSupplier=$1&IdResource=$2&IdTag=$3&State=yes [L]

RewriteRule ^setting/unit$ 									?cmd=SettingUnit [L]
RewriteRule ^setting/unit/page/([0-9]+)$ 					?cmd=SettingUnit&Page=$1 [L]
RewriteRule ^setting/tag$ 									?cmd=SettingTag [L]
RewriteRule ^setting/tag/page/([0-9]+)$ 					?cmd=SettingTag&Page=$1 [L]
RewriteRule ^setting/tag/([0-9]+)/resource$ 				?cmd=SettingTagResource&IdTag=$1 [L]
RewriteRule ^setting/tagselected$ 							?cmd=SettingTagSelected [L]
RewriteRule ^setting/tagselected/page/([0-9]+)$ 			?cmd=SettingTagSelected&Page=$1 [L]
RewriteRule ^setting/config$ 								?cmd=SettingConfig [L]
RewriteRule ^setting/config/page/([0-9]+)$ 					?cmd=SettingConfig [L]
RewriteRule ^setting/user$ 									?cmd=SettingUser [L]
RewriteRule ^setting/user/page/([0-9]+)$ 					?cmd=SettingUser&Page=$1 [L]
RewriteRule ^setting/termpaid$ 								?cmd=SettingTermPaid [L]
RewriteRule ^setting/termpaid/page/([0-9]+)$ 				?cmd=SettingTermPaid&Page=$1 [L]
RewriteRule ^setting/termcollect$ 							?cmd=SettingTermCollect [L]
RewriteRule ^setting/termcollect/page/([0-9]+)$ 			?cmd=SettingTermCollect&Page=$1 [L]