<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>		
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">
			<ul style="display: block;">
				<li tal:repeat="Supplier1 SupplierAll" tal:attributes="class php:Supplier1->getId()==Supplier->getId()?'active':'disable'">
					<a tal:attributes="href Supplier1/getURLResource">
						<i class="glyphicons-truck"/><span tal:content="Supplier1/getName"/>
					</a>
				</li>
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div id="IdSupplier" tal:attributes="alt Supplier/getId" class="row">
				<div class="col-12">
					<a href="#DialogIns" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicons-plus"/> Thêm mới
					</a>
					<a href="#DialogDelSelected" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicons-remove_2"/> Xóa chọn
					</a>
					<div class="widget-box">						
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="32"><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
										<th width="90" class="left">DANH MỤC</th>
										<th width="200" class="left">TÊN</th>										
										<th class="right" width="60">GIÁ NHẬP</th>
										<th class="right" width="60">GIÁ BÁN</th>										
										<th width="32"><i class="glyphicons-edit"/></th>
										<th width="32"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Resource ResourceAll1">
										<td class="center"><input class="CheckedDel" type="checkbox" tal:attributes="data-id Resource/getId"/></td>
										<td class="left">
											<span tal:content="Resource/getCategory/getCategory/getName"/> / 
											<span tal:content="Resource/getCategory/getName"/>
										</td>
										<td><a class="update-item" href="#DialogEdit" data-toggle="modal" 
												tal:attributes="id Resource/getId;
																idcategory 	Resource/getIdCategory;
																name 		Resource/getName;
																code 		Resource/getCode;
																price1 		Resource/getPrice1;
																price2 		Resource/getPrice2;
																madein 		Resource/getMadeIn;
																madeby 		Resource/getMadeBy;
																type 		Resource/getType;
																style 		Resource/getStyle;
																canvas 		Resource/getCanvas;
																note 		Resource/getNote;
												" 
												tal:content="Resource/getName"/>
										</td>
										<td class="right" tal:content="Resource/getPrice1Print"/>
										<td class="right" tal:content="Resource/getPrice2Print"/>																				
										<td class="center">
											<a tal:attributes="href Resource/getURLSettingImage"><i class="glyphicons-picture"/></a>
										</td>
										<td class="center"><a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Resource/getId"><i class="glyphicon glyphicon-remove"/></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div metal:use-macro="mAdmin.xhtml/PageBar"/>					
					<!-- INSERT DIALOG  -->
					<div id="DialogIns" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header"><h3><i class="glyphicons-truck modal-icon"/>THÊM NGUYÊN LIỆU</h3></div>								
								<form id="FormResourceInsert" action="#" class="form-horizontal" novalidate="novalidate">
									<div class="modal-body">													
										<div class="form-group">
											<label class="control-label">Tên</label>
											<div class="controls">
												<input id="Name1" name="Name1" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Mã</label>
											<div class="controls">
												<input id="Code1" name="Code1" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Danh mục</label>											
											<div class="controls">
												<select name="IdCategory1" id="IdCategory1" style="width:80%;">
													<option tal:repeat="Category1 CategoryAll1" tal:attributes="value Category1/getId">
														<span tal:content="Category1/getCategory/getName" /> / 
														<span tal:content="Category1/getName" />
													</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Giá nhập</label>
											<div class="controls">
												<input id="Price11" name="Price11" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Giá bán</label>
											<div class="controls">
												<input id="Price21" name="Price21" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Xuất xứ</label>
											<div class="controls">												
												<select name="MadeIn1" id="MadeIn1" style="width:80%;">
													<option value="Việt Nam">Việt Nam</option>
													<option value="Hong Kong">Hong Kong</option>
													<option value="Trung Quốc">Trung Quốc</option>
													<option value="Đài Loan">Đài Loan</option>
													<option value="Mỹ">Mỹ</option>
												</select>
											</div>											
										</div>
										<!--
										<div class="form-group">
											<label class="control-label">MadeBy</label>
											<div class="controls">
												<input id="MadeBy1" name="MadeBy1" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Type</label>
											<div class="controls">
												<input id="Type1" name="Type1" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Style</label>
											<div class="controls">
												<input id="Style1" name="Style1" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Canvas</label>
											<div class="controls">
												<input id="Canvas1" name="Canvas1" type="text" class="form-control input-small"/>
											</div>
										</div>
										!-->
										<div class="form-group">
											<label class="control-label">Mô tả</label>
											<div class="controls">
												<input id="Note1" name="Note1" type="text" class="form-control input-small"/>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button id="URLInsButton" class="btn btn-primary btn-small"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END INSERT DIALOG  -->
					
					<!-- DIALOG EDIT	-->
					<div id="DialogEdit" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-truck modal-icon"/>CHỈNH SỬA SẢN PHẨM</h3>
								</div>
								<form id="FormResourceUpdate" action="#" class="form-horizontal" novalidate="novalidate">
										<div class="form-group">
											<label class="control-label">Tên</label>
											<div class="controls">
												<input id="Name2" name="Name2" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Mã</label>
											<div class="controls">
												<input id="Code2" name="Code2" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Danh mục</label>
											<div class="controls">
												<select name="IdCategory2" id="IdCategory2" style="width:80%;">
													<option tal:repeat="Category1 CategoryAll1" tal:attributes="value Category1/getId">
														<span tal:content="Category1/getCategory/getName" /> / 
														<span tal:content="Category1/getName" />
													</option>
												</select>
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label">Giá nhập</label>
											<div class="controls">
												<input id="Price12" name="Price12" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Giá bán</label>
											<div class="controls">
												<input id="Price22" name="Price22" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Xuất xứ</label>
											<div class="controls">												
												<select name="MadeIn2" id="MadeIn2" style="width:80%;">
													<option value="Việt Nam">Việt Nam</option>
													<option value="Hong Kong">Hong Kong</option>
													<option value="Trung Quốc">Trung Quốc</option>
													<option value="Đài Loan">Đài Loan</option>
													<option value="Mỹ">Mỹ</option>
												</select>
											</div>
										</div>
										<!--
										<div class="form-group">
											<label class="control-label">MadeBy</label>
											<div class="controls">
												<input id="MadeBy2" name="MadeBy2" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Type</label>
											<div class="controls">
												<input id="Type2" name="Type2" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Style</label>
											<div class="controls">
												<input id="Style2" name="Style2" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Canvas</label>
											<div class="controls">
												<input id="Canvas2" name="Canvas2" type="text" class="form-control input-small"/>
											</div>
										</div>
										!-->
										<div class="form-group">
											<label class="control-label">Mô tả</label>
											<div class="controls">
												<input id="Note2" name="Note2" type="text" class="form-control input-small"/>
											</div>
										</div>
									<div class="modal-footer">
										<button id="URLUpdButton" class="btn btn-primary btn-small"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END DIALOG EDIT -->
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>
					<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
					
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			$('#URLDelSelectedButton').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/object/del/Resource/0";
				
				$(".CheckedDel").each(function( i, obj){
					if ( $(this).is(':checked')==true ){
						count += 1;
						Data[count] = $(this).attr('data-id');
					}
				});
				
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Delete 1 COURSE			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/Resource/" + $(this).attr('alt');
				$.ajax({
					type: "POST",
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 RESOURCE			
			$("#FormResourceInsert").validate({
				rules:{
					Name1:{
						minlength: 2,
						required:true
					},
					Price1:{						
						required:true,
						number:true,
						min:0
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = 'null';
					Data[1] = $('#IdSupplier').attr('alt');
					Data[2] = $('#IdCategory1').val();
					Data[3] = $('#Name1').val();
					Data[4] = $('#Code1').val();
					Data[5] = $('#Price11').val();
					Data[6] = $('#Price21').val();										
					Data[7] = $('#MadeIn1').val();										
					Data[8] = 0;//$('#MadeBy1').val();										
					Data[9] = 0;//$('#Type1').val();										
					Data[10] = 0;//$('#Style1').val();										
					Data[11] = 0;//$('#Canvas1').val();										
					Data[12] = $('#Note1').val();
					var URL = "/object/ins/Resource";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogIns").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Name1').first().focus()},
					0500
				);
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 COURSE
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/Resource/" + $(this).attr('data-id');
				
				$('#URLUpdButton').attr('alt', 	$(this).attr('id')	);
				$('#Name2').attr('value', 		$(this).attr('name'));
				$('#IdCategory2').select2('val', $(this).attr('idcategory'));
				$('#Code2').attr('value', 		$(this).attr('code'));
				$('#Price12').attr('value', 	$(this).attr('price1'));
				$('#Price22').attr('value', 	$(this).attr('price2'));				
				$('#MadeIn2').select2('val', 	$(this).attr('madein'));
				$('#MadeBy2').attr('value', 	$(this).attr('madeby'));
				$('#Type2').attr('value', 		$(this).attr('type'));
				$('#Style2').attr('value', 		$(this).attr('style'));
				$('#Canvas2').attr('value', 	$(this).attr('canvas'));
				$('#Note2').attr('value', 		$(this).attr('note'));
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 RESOURCE
			//-----------------------------------------------------------------------------------
			$("#FormResourceUpdate").validate({
				rules:{
					Name2:{
						minlength: 2,
						required:true
					},
					Price2:{						
						required:true,
						number:true,
						min:0
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];								
					Data[0] = $('#URLUpdButton').attr('alt');					
					Data[1] = $('#IdSupplier').attr('alt');
					Data[2] = $('#IdCategory2').val();
					Data[3] = $('#Name2').val();
					Data[4] = $('#Code2').val();
					Data[5] = $('#Price12').val();
					Data[6] = $('#Price22').val();										
					Data[7] = $('#MadeIn2').val();										
					Data[8] = 0;//$('#MadeBy2').val();
					Data[9] = 0;//$('#Type2').val();
					Data[10] = 0;//$('#Style2').val();
					Data[11] = 0;//$('#Canvas2').val();
					Data[12] = $('#Note2').val();
									
					var URL = "/object/upd/Resource";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogEdit").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Name2').first().focus()},
					0500
				);
			});
			
		/*]]>*/
		</script>
		<div id="IdSupplier" tal:attributes="alt Supplier/getId" />
	</body>
</html>