<!DOCTYPE html>
<html lang="en">	
	<body>
		<div class="widget-box">										
			<div class="widget-content nopadding size-12">
				<ul class="activity-list">
					<li tal:repeat="Resource ResourceAll">
						<a class="course-item">
							<strong class="Resource" tal:content="php: Resource->getName() . ' / ' . Resource->getUnit()->getName() . ' / '. Resource->getPrice2Print()" tal:attributes="alt Resource/getId;data-price Resource/getPrice2 "/>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<script>
			//-----------------------------------------------------------------------------------
			//click gọi món
			//-----------------------------------------------------------------------------------
			$('.Resource').click(function(e){
				var IdResource 	= $(this).attr('alt');
				var Delta 		= $(this).attr('data-delta');				
												
				var Data = [];
				Data[0] = $('#IdCustomer').attr('alt');
				Data[1] = $('#IdOrder').attr('alt');
				Data[2] = IdResource;
				Data[3] = 1;
				Data[4] = $(this).attr('data-price');
				
				var URL = "/export/"+Data[0]+"/"+Data[1]+"/"+Data[2]+"/"+Data[3]+"/"+Data[4]+"/plus";
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});												
			});
		</script>
	</body>
</html>