<body>
	<BR/>
	<table width="100%" border="0" cellpadding="2" >
		<tr>			
			<td width="50%" align="left"><B>ĐẠI LÝ THỨC ĂN GIA SÚC MINH TÀI</B></td>
			<td width="50%" align="right"><B>PHIẾU NHẬP HÀNG</B></td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐC: Phạm Hùng, P9, TP.VL</td>
			<td width="50%" align="right">NHÀ CUNG CẤP <span tal:content="php:mb_strtoupper(Supplier->getName(),'UTF8')"/></td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐT: (0933) 66 99 07</td>
			<td width="50%" align="right"><span tal:content="OI/getStore/getName"/> / <span tal:content="OI/getDatePrint"/></td>
		</tr>
	</table>
	<BR/>
	<table width="100%" border="1" cellpadding="2" >
		<tr>
			<th width="8%" 	align="center"><B>STT</B></th>
			<th width="27%" align="left"><B>TÊN</B></th>
			<th width="15%" align="right" ><B>SỐ LƯỢNG</B></th>
			<th width="25%" align="right"><B>ĐƠN GIÁ</B></th>
			<th width="25%" align="right"><B>THÀNH TIỀN</B></th>
		</tr>
		<tr tal:repeat="Detail OI/getDetailAll">
			<td align="center" tal:content="repeat/Detail/number" />
			<td>
				<span tal:content="Detail/getResource/getName" />
				(<span tal:content="Detail/getResource/getUnit/getName" />)
			</td>
			<td align="right" tal:content="Detail/getCountPrint" />
			<td align="right" tal:content="Detail/getPricePrint" />
			<td align="right" tal:content="Detail/getValuePrint" />
		</tr>
		<tr>
			<th align="right" colspan="4">TỔNG CỘNG</th>
			<th align="right" colspan="1" tal:content="OI/getValuePrint" />
		</tr>
	</table>
	<span align="right">( <span tal:content="OI/getValueStrPrint"/> )</span><br/>
	<table width="100%" border="0" cellpadding="2" >
		<tr>
			<td width="35%" align="center"></td>
			<td width="25%" align="center" />
			<td width="40%" align="center"><span tal:content="DateCurrent" /></td>
		</tr>
		<tr>
			<td width="35%" align="center">NGƯỜI LẬP PHIẾU</td>
			<td width="25%" align="center" />
			<td width="40%" align="center">ĐẠI LÝ</td>
		</tr>		
	</table>
</body>