<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<div class="menu">
							<ul class="nav nav-list">
								<li class="nav-header">CHỌN NHÀ CUNG CẤP</li>
								<li tal:repeat="Supplier SupplierAll">
									<a tal:attributes="href Supplier/getURLImport" >
										<span tal:content="Supplier/getName"/>
									</a>
								</li>								
							</ul>
						</div>
					</div>
					<div class="span9">												
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
								
						</div>						
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>