<body>
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:1.1em;">
		<tbody>
			<tr>
				<td width="48%" align="center">
					<h2>XỔ SỐ KIẾN THIẾT MIỀN NAM</h2>
				</td>
				<td width="2.5%"></td>
				<td width="48%" align="center">
					<h2>XỔ SỐ KIẾN THIẾT MIỀN NAM</h2>
				</td>
				<td width="1%"></td>
			</tr>
			<tr>
				<td width="48%" align="center">
					<i>Ngày <span tal:content="TD/getDatePrint"/></i>
				</td>
				<td width="2.5%"></td>
				<td width="48%" align="center">
					<i>Ngày <span tal:content="TD/getDatePrint"/></i>
				</td>
				<td width="1%"></td>
			</tr>
			<tr>
				<td width="48%">
	
					<table border="1" cellpadding="3.45" cellspacing="0" valign="middle">
						<tbody>
							<tr align="center">
								<td><b tal:content="TD/getDayName"/></td>
								<td tal:repeat="Loto LotoAll"><b tal:content="Loto/getLocation"/></td>
							</tr>
							<tr align="center">
								<td tal:content="TD/getDatePrint"/>
								<td tal:repeat="Loto LotoAll"><b tal:content="Loto/getName"/></td>
							</tr>
							<tr align="center">
								<td>Giải Tám</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG81"/>
							</tr>
							<tr align="center">
								<td>Giải Bảy</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG71"/>
							</tr>
							<tr align="center">
								<td>Giải Sáu</td>
								<td tal:repeat="Loto LotoAll">
									<span tal:content="Loto/getG61"/>
									<span tal:content="Loto/getG62"/>
									<span tal:content="Loto/getG63"/>
								</td>
							</tr>
							<tr align="center">
								<td>Giải Năm</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG51"/>
							</tr>
							<tr align="center">
								<td>Giải Tư</td>
								<td tal:repeat="Loto LotoAll">
									<span tal:content="Loto/getG41"/>
									<span tal:content="Loto/getG42"/>
									<span tal:content="Loto/getG43"/>
									<span tal:content="Loto/getG44"/>
									<span tal:content="Loto/getG45"/>
									<span tal:content="Loto/getG46"/>
									<span tal:content="Loto/getG47"/>
								</td>
							</tr>
							<tr align="center">
								<td>Giải Ba</td>
								<td tal:repeat="Loto LotoAll">
									<span tal:content="Loto/getG31"/>
									<span tal:content="Loto/getG32"/>
								</td>
							</tr>
							<tr align="center">
								<td>Giải Nhì</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG21"/>
							</tr>
							<tr align="center">
								<td>Giải Nhất</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG11"/>
							</tr>
							<tr align="center">
								<td><b>Giải Đặc biệt</b></td>
								<td tal:repeat="Loto LotoAll"><b tal:content="Loto/getG00"/></td>
							</tr>
						</tbody>
					</table>
					
				</td>
				
				<td width="2.5%"></td>
				
				<td width="48%">
	
					<table border="1" cellpadding="3.45" cellspacing="0" valign="middle">
						<tbody>
							<tr align="center">
								<td><b tal:content="TD/getDayName"/></td>
								<td tal:repeat="Loto LotoAll"><b tal:content="Loto/getLocation"/></td>
							</tr>
							<tr align="center">
								<td tal:content="TD/getDatePrint"/>
								<td tal:repeat="Loto LotoAll"><b tal:content="Loto/getName"/></td>
							</tr>
							<tr align="center">
								<td>Giải Tám</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG81"/>
							</tr>
							<tr align="center">
								<td>Giải Bảy</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG71"/>
							</tr>
							<tr align="center">
								<td>Giải Sáu</td>
								<td tal:repeat="Loto LotoAll">
									<span tal:content="Loto/getG61"/>
									<span tal:content="Loto/getG62"/>
									<span tal:content="Loto/getG63"/>
								</td>
							</tr>
							<tr align="center">
								<td>Giải Năm</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG51"/>
							</tr>
							<tr align="center">
								<td>Giải Tư</td>
								<td tal:repeat="Loto LotoAll">
									<span tal:content="Loto/getG41"/>
									<span tal:content="Loto/getG42"/>
									<span tal:content="Loto/getG43"/>
									<span tal:content="Loto/getG44"/>
									<span tal:content="Loto/getG45"/>
									<span tal:content="Loto/getG46"/>
									<span tal:content="Loto/getG47"/>
								</td>
							</tr>
							<tr align="center">
								<td>Giải Ba</td>
								<td tal:repeat="Loto LotoAll">
									<span tal:content="Loto/getG31"/>
									<span tal:content="Loto/getG32"/>
								</td>
							</tr>
							<tr align="center">
								<td>Giải Nhì</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG21"/>
							</tr>
							<tr align="center">
								<td>Giải Nhất</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG11"/>
							</tr>
							<tr align="center">
								<td><b>Giải Đặc biệt</b></td>
								<td tal:repeat="Loto LotoAll"><b tal:content="Loto/getG00"/></td>
							</tr>
						</tbody>
					</table>
					
				</td>
				<td width="1%"></td>
			</tr>
			<tr>
				<td colspan="4" align="center">...................................................................................................................................................................................<br/></td>
			</tr>
			<tr>
				<td width="48%" align="center">
					<h2>XỔ SỐ KIẾN THIẾT MIỀN NAM</h2>
				</td>
				<td width="2.5%"></td>
				<td width="48%" align="center">
					<h2>XỔ SỐ KIẾN THIẾT MIỀN NAM</h2>
				</td>
				<td width="1%"></td>
			</tr>
			<tr>
				<td width="48%" align="center">
					<i>Ngày <span tal:content="TD/getDatePrint"/></i>
				</td>
				<td width="2.5%"></td>
				<td width="48%" align="center">
					<i>Ngày <span tal:content="TD/getDatePrint"/></i>
				</td>
				<td width="1%"></td>
			</tr>
			<tr>
				<td width="48%">
	
					<table border="1" cellpadding="3.45" cellspacing="0" valign="middle">
						<tbody>
							<tr align="center">
								<td><b tal:content="TD/getDayName"/></td>
								<td tal:repeat="Loto LotoAll"><b tal:content="Loto/getLocation"/></td>
							</tr>
							<tr align="center">
								<td tal:content="TD/getDatePrint"/>
								<td tal:repeat="Loto LotoAll"><b tal:content="Loto/getName"/></td>
							</tr>
							<tr align="center">
								<td>Giải Tám</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG81"/>
							</tr>
							<tr align="center">
								<td>Giải Bảy</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG71"/>
							</tr>
							<tr align="center">
								<td>Giải Sáu</td>
								<td tal:repeat="Loto LotoAll">
									<span tal:content="Loto/getG61"/>
									<span tal:content="Loto/getG62"/>
									<span tal:content="Loto/getG63"/>
								</td>
							</tr>
							<tr align="center">
								<td>Giải Năm</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG51"/>
							</tr>
							<tr align="center">
								<td>Giải Tư</td>
								<td tal:repeat="Loto LotoAll">
									<span tal:content="Loto/getG41"/>
									<span tal:content="Loto/getG42"/>
									<span tal:content="Loto/getG43"/>
									<span tal:content="Loto/getG44"/>
									<span tal:content="Loto/getG45"/>
									<span tal:content="Loto/getG46"/>
									<span tal:content="Loto/getG47"/>
								</td>
							</tr>
							<tr align="center">
								<td>Giải Ba</td>
								<td tal:repeat="Loto LotoAll">
									<span tal:content="Loto/getG31"/>
									<span tal:content="Loto/getG32"/>
								</td>
							</tr>
							<tr align="center">
								<td>Giải Nhì</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG21"/>
							</tr>
							<tr align="center">
								<td>Giải Nhất</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG11"/>
							</tr>
							<tr align="center">
								<td><b>Giải Đặc biệt</b></td>
								<td tal:repeat="Loto LotoAll"><b tal:content="Loto/getG00"/></td>
							</tr>
						</tbody>
					</table>
					
				</td>
				
				<td width="2.5%"></td>
				
				<td width="48%">
	
					<table border="1" cellpadding="3.45" cellspacing="0" valign="middle">
						<tbody>
							<tr align="center">
								<td><b tal:content="TD/getDayName"/></td>
								<td tal:repeat="Loto LotoAll"><b tal:content="Loto/getLocation"/></td>
							</tr>
							<tr align="center">
								<td tal:content="TD/getDatePrint"/>
								<td tal:repeat="Loto LotoAll"><b tal:content="Loto/getName"/></td>
							</tr>
							<tr align="center">
								<td>Giải Tám</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG81"/>
							</tr>
							<tr align="center">
								<td>Giải Bảy</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG71"/>
							</tr>
							<tr align="center">
								<td>Giải Sáu</td>
								<td tal:repeat="Loto LotoAll">
									<span tal:content="Loto/getG61"/>
									<span tal:content="Loto/getG62"/>
									<span tal:content="Loto/getG63"/>
								</td>
							</tr>
							<tr align="center">
								<td>Giải Năm</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG51"/>
							</tr>
							<tr align="center">
								<td>Giải Tư</td>
								<td tal:repeat="Loto LotoAll">
									<span tal:content="Loto/getG41"/>
									<span tal:content="Loto/getG42"/>
									<span tal:content="Loto/getG43"/>
									<span tal:content="Loto/getG44"/>
									<span tal:content="Loto/getG45"/>
									<span tal:content="Loto/getG46"/>
									<span tal:content="Loto/getG47"/>
								</td>
							</tr>
							<tr align="center">
								<td>Giải Ba</td>
								<td tal:repeat="Loto LotoAll">
									<span tal:content="Loto/getG31"/>
									<span tal:content="Loto/getG32"/>
								</td>
							</tr>
							<tr align="center">
								<td>Giải Nhì</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG21"/>
							</tr>
							<tr align="center">
								<td>Giải Nhất</td>
								<td tal:repeat="Loto LotoAll" tal:content="Loto/getG11"/>
							</tr>
							<tr align="center">
								<td><b>Giải Đặc biệt</b></td>
								<td tal:repeat="Loto LotoAll"><b tal:content="Loto/getG00"/></td>
							</tr>
						</tbody>
					</table>
					
				</td>
				<td width="1%"></td>
			</tr>
		</tbody>
	</table>
</body>