<body>		
	<table width="100%" border="1" cellpadding="0">
		<tr>						
			<td width="50%">
				<table width="100%" border="1" cellpadding="0">
					<tr>
						<td width="10%">
							<table width="100%" border="1" cellpadding="0">
								<tr><td tal:content="TD/getDayName"/></tr>
								<tr><td tal:content="TD/getDatePrint"/></tr>
								<tr><td>Giải 8</td></tr>
								<tr><td>Giải 7</td></tr>
								<tr><td>Giải 6</td></tr>
								<tr><td>Giải 5</td></tr>
								<tr><td>Giải 4</td></tr>
								<tr><td>Giải 3</td></tr>
								<tr><td>Giải 2</td></tr>
								<tr><td>Giải 1</td></tr>
								<tr><td>ĐB</td></tr>
							</table>
						</td>
						<td width="30%" tal:repeat="Loto LotoAll">
							<table width="100%" border="1" cellpadding="0">
								<tr>
									<td align="center">
										<p tal:content="Loto/getLocation"/>
									</td>
								</tr>
								<tr>									
									<td align="center">
										<p tal:content="Loto/getName"/>
									</td>
								</tr>
								<tr>									
									<td align="center">
										<p tal:content="Loto/getG81"/>
									</td>
								</tr>
								<tr>									
									<td align="center">
										<p tal:content="Loto/getG71"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG61"/>										
										<p tal:content="Loto/getG62"/>
										<p tal:content="Loto/getG63"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG51"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG41"/>
										<p tal:content="Loto/getG42"/>
										<p tal:content="Loto/getG43"/>
										<p tal:content="Loto/getG44"/>
										<p tal:content="Loto/getG45"/>
										<p tal:content="Loto/getG46"/>
										<p tal:content="Loto/getG47"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG31"/>
										<p tal:content="Loto/getG32"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG21"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG11"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG00"/>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>								
			</td>
			<td width="50%">
				<table width="100%" border="1" cellpadding="0">
					<tr>
						<td width="10%">
							<table width="100%" border="1" cellpadding="0">
								<tr><td tal:content="TD/getDayName"/></tr>
								<tr><td tal:content="TD/getDatePrint"/></tr>
								<tr><td>Giải 8</td></tr>
								<tr><td>Giải 7</td></tr>
								<tr><td>Giải 6</td></tr>
								<tr><td>Giải 5</td></tr>
								<tr><td>Giải 4</td></tr>
								<tr><td>Giải 3</td></tr>
								<tr><td>Giải 2</td></tr>
								<tr><td>Giải 1</td></tr>
								<tr><td>ĐB</td></tr>
							</table>
						</td>
						<td width="30%" tal:repeat="Loto LotoAll">
							<table width="100%" border="1" cellpadding="0">
								<tr>
									<td align="center">
										<p tal:content="Loto/getLocation"/>
									</td>
								</tr>
								<tr>									
									<td align="center">
										<p tal:content="Loto/getName"/>
									</td>
								</tr>
								<tr>									
									<td align="center">
										<p tal:content="Loto/getG81"/>
									</td>
								</tr>
								<tr>									
									<td align="center">
										<p tal:content="Loto/getG71"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG61"/>										
										<p tal:content="Loto/getG62"/>
										<p tal:content="Loto/getG63"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG51"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG41"/>
										<p tal:content="Loto/getG42"/>
										<p tal:content="Loto/getG43"/>
										<p tal:content="Loto/getG44"/>
										<p tal:content="Loto/getG45"/>
										<p tal:content="Loto/getG46"/>
										<p tal:content="Loto/getG47"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG31"/>
										<p tal:content="Loto/getG32"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG21"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG11"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG00"/>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>								
			</td>
		</tr>
		<tr>						
			<td width="50%">
				<table width="100%" border="1" cellpadding="0">
					<tr>
						<td width="10%">
							<table width="100%" border="1" cellpadding="0">
								<tr><td tal:content="TD/getDayName"/></tr>
								<tr><td tal:content="TD/getDatePrint"/></tr>
								<tr><td>Giải 8</td></tr>
								<tr><td>Giải 7</td></tr>
								<tr><td>Giải 6</td></tr>
								<tr><td>Giải 5</td></tr>
								<tr><td>Giải 4</td></tr>
								<tr><td>Giải 3</td></tr>
								<tr><td>Giải 2</td></tr>
								<tr><td>Giải 1</td></tr>
								<tr><td>ĐB</td></tr>
							</table>
						</td>
						<td width="30%" tal:repeat="Loto LotoAll">
							<table width="100%" border="1" cellpadding="0">
								<tr>
									<td align="center">
										<p tal:content="Loto/getLocation"/>
									</td>
								</tr>
								<tr>									
									<td align="center">
										<p tal:content="Loto/getName"/>
									</td>
								</tr>
								<tr>									
									<td align="center">
										<p tal:content="Loto/getG81"/>
									</td>
								</tr>
								<tr>									
									<td align="center">
										<p tal:content="Loto/getG71"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG61"/>										
										<p tal:content="Loto/getG62"/>
										<p tal:content="Loto/getG63"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG51"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG41"/>
										<p tal:content="Loto/getG42"/>
										<p tal:content="Loto/getG43"/>
										<p tal:content="Loto/getG44"/>
										<p tal:content="Loto/getG45"/>
										<p tal:content="Loto/getG46"/>
										<p tal:content="Loto/getG47"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG31"/>
										<p tal:content="Loto/getG32"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG21"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG11"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG00"/>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>								
			</td>
			<td width="50%">
				<table width="100%" border="1" cellpadding="0">
					<tr>
						<td width="10%">
							<table width="100%" border="1" cellpadding="0">
								<tr><td tal:content="TD/getDayName"/></tr>
								<tr><td tal:content="TD/getDatePrint"/></tr>
								<tr><td>Giải 8</td></tr>
								<tr><td>Giải 7</td></tr>
								<tr><td>Giải 6</td></tr>
								<tr><td>Giải 5</td></tr>
								<tr><td>Giải 4</td></tr>
								<tr><td>Giải 3</td></tr>
								<tr><td>Giải 2</td></tr>
								<tr><td>Giải 1</td></tr>
								<tr><td>ĐB</td></tr>
							</table>
						</td>
						<td width="30%" tal:repeat="Loto LotoAll">
							<table width="100%" border="1" cellpadding="0">
								<tr>
									<td align="center">
										<p tal:content="Loto/getLocation"/>
									</td>
								</tr>
								<tr>									
									<td align="center">
										<p tal:content="Loto/getName"/>
									</td>
								</tr>
								<tr>									
									<td align="center">
										<p tal:content="Loto/getG81"/>
									</td>
								</tr>
								<tr>									
									<td align="center">
										<p tal:content="Loto/getG71"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG61"/>										
										<p tal:content="Loto/getG62"/>
										<p tal:content="Loto/getG63"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG51"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG41"/>
										<p tal:content="Loto/getG42"/>
										<p tal:content="Loto/getG43"/>
										<p tal:content="Loto/getG44"/>
										<p tal:content="Loto/getG45"/>
										<p tal:content="Loto/getG46"/>
										<p tal:content="Loto/getG47"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG31"/>
										<p tal:content="Loto/getG32"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG21"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG11"/>
									</td>
								</tr>
								<tr>
									<td align="center">
										<p tal:content="Loto/getG00"/>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>								
			</td>
		</tr>
	</table>	
</body>