<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">			
			<ul style="display: block;">
				<li tal:repeat="Domain1 DomainAll" tal:attributes="class php:Domain1->getId()==Domain->getId()?'active':'disable'">
					<a tal:attributes="href Domain1/getURLSelling">
						<i class="glyphicons-group" /><span tal:content="Domain1/getName"/>							
					</a>
				</li>
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">					
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover with-check">
								<thead>
									<tr>
										<th width="32">STT</th>
										<th class="left">TÊN</th>
										<th><div class="text-right">VÉ NHẬN</div></th>
										<th><div class="text-right">VÉ TRẢ</div></th>
										<th><div class="text-right">VÉ BÁN</div></th>
										<th width="10" />
										<th><div class="text-right">NỢ T.VÉ </div></th>
										<th><div class="text-right">NỢ T.ỨNG</div></th>
										<th width="10" />
										<th><div class="text-right">TỔNG NỢ</div></th>										
										<th width="80">XEM</th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Customer Domain/getCustomerAll">
										<td class="center"><span tal:content="repeat/Customer/number"/></td>
										<td>
											<a tal:condition="Customer/getLogActive" class="update-item" href="#DialogEdit" data-toggle="modal"
												tal:attributes="id 			Customer/getLogActive/getId;
																name		Customer/getName;
																idcustomer	Customer/getLogActive/getIdCustomer;
																datetime 	Customer/getLogActive/getDateTime;
																ticket1 	Customer/getLogActive/getTicket1;
																ticket2 	Customer/getLogActive/getTicket2;
																paid1 		Customer/getLogActive/getPaid1;
																paid2 		Customer/getLogActive/getPaid2;
																debt 		Customer/getLogActive/getDebt;
												" tal:content="Customer/getName"/>
										</td>
										<td><div class="text-right" tal:condition="Customer/getLogActive" tal:content="Customer/getLogActive/getTicket1"/></td>
										<td><div class="text-right" tal:condition="Customer/getLogActive" tal:content="Customer/getLogActive/getTicket2"/></td>
										<td><div class="text-right" tal:condition="Customer/getLogActive" tal:content="Customer/getLogActive/getTicketD"/></td>										
										<td />
										<td><div class="text-right" tal:condition="Customer/getLogActive" tal:content="Customer/getLogActive/getPaid1RemainPrint" style="color:blue;"/></td>
										<td><div class="text-right" tal:condition="Customer/getLogActive" tal:content="Customer/getLogActive/getPaid2RemainPrint" style="color:blue;"/></td>
										<td />
										<td><div class="text-right" tal:condition="Customer/getLogActive" tal:content="Customer/getLogActive/getValuePrint" style="color:red;"/></td>
										<td class="center">
											<a tal:attributes="href Customer/getURLSelling">
												Sổ (<span tal:content="Customer/getLogAll/count"/>)
											</a>
										</td>										
									</tr>
								</tbody>
							</table>							
						</div>
					</div>
					<a tal:attributes="href Domain/getURLSellingPrintTemplate" target="blank" class="btn btn-primary btn-ins">
						<i class="glyphicons-print"/>  In mẫu
					</a>
				</div>
			</div>
		</div>
		
		<!-- UPDATE DIALOG  -->
		<div id="DialogEdit" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"><h3><i class="glyphicons-show_big_thumbnails modal-icon"/>CẬP NHẬT BÁN HÀNG</h3></div>
					<form id="FormUpdate" action="#" class="form-horizontal" novalidate="novalidate">
						<div class="form-group">
							<label class="control-label">Tên</label>
							<div class="controls">
								<input id="Name2" name="Name2" type="text" class="form-control input-small" readonly="true"/>
							</div>
						</div>									
						<div class="form-group">
							<label class="control-label">Ngày</label>
							<div class="controls">
								<input id="DateTime2" name="DateTime2" type="text" class="form-control input-small" readonly="true"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Vé giao</label>
							<div class="controls">
								<input id="Ticket12" name="Ticket12" type="text" class="form-control input-small" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Vé trả</label>
							<div class="controls">
								<input id="Ticket22" name="Ticket22" type="text" class="form-control input-small" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Trả tiền vé</label>
							<div class="controls">
								<input id="Paid12" name="Paid12" type="text" class="form-control input-small" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Tiền góp</label>
							<div class="controls">
								<input id="Paid22" name="Paid22" type="text" class="form-control input-small" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Ứng tiền</label>
							<div class="controls">
								<input id="Debt2" name="Debt2" type="text" class="form-control input-small" />
							</div>
						</div>
						<div class="modal-footer">
							<button  id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
						<div id="IdCustomer2" />
					</form>
				</div>
			</div>
		</div>
		<!-- END UPDATE DIALOG  -->
		
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			//-----------------------------------------------------------------------------------
			//Load 1 CUSTOMER LOG
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){				
				$('#URLUpdButton').attr('alt', 	$(this).attr('id'));
				$('#IdCustomer2').attr('alt', 	$(this).attr('idcustomer'));
				$('#Name2').attr('value', 		$(this).attr('name'));
				$('#DateTime2').attr('value', 	$(this).attr('datetime'));
				$('#Ticket12').attr('value', 	$(this).attr('ticket1'));
				$('#Ticket22').attr('value', 	$(this).attr('ticket2'));
				$('#Paid12').attr('value', 		$(this).attr('paid1'));
				$('#Paid22').attr('value', 		$(this).attr('paid2'));
				$('#Debt2').attr('value', 		$(this).attr('debt'));
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 DOMAIN
			//-----------------------------------------------------------------------------------
			$("#FormUpdate").validate({
				rules:{
					Ticket12:{
						number:true,
						min:0
					},
					Ticket22:{
						number:true,
						min:0
					},
					Paid12:{
						number:true,
						min:0
					},
					Paid22:{
						number:true,
						min:0
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = $('#URLUpdButton').attr('alt');
					Data[1] = $('#IdCustomer2').attr('alt');
					Data[2] = $('#DateTime2').val();
					Data[3] = $('#Ticket12').val();
					Data[4] = $('#Ticket22').val();
					Data[5] = $('#Paid12').val();
					Data[6] = $('#Paid22').val();
					Data[7] = $('#Debt2').val();
																												
					var URL = "/object/upd/CustomerLog";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});		
					return false;
				}
			});

			$("#DialogEdit").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Ticket12').first().focus()},
					0500
				);
			});
		/*]]>*/
		</script>
	</body>
</html>