<body>		
	<table width="100%" border="0" cellpadding="2" >
		<tr>			
			<td width="50%" align="left"><B tal:content="ConfigName/getValue"/></td>
			<td width="50%" align="right"><B>NHẬT KÝ BÁN HÀNG</B></td>
		</tr>
		<tr>			
			<td width="50%" align="left" tal:content="ConfigAddress/getValue" />
			<td width="50%" align="right"><B tal:content="php: mb_strtoupper(Domain->getName(), 'UTF8')"/></td>
		</tr>
		<tr>			
			<td width="50%" align="left" tal:content="ConfigPhone/getValue"/>
			<td width="50%" align="right">NGÀY:____/____/2014</td>
		</tr>
	</table>
	<BR/>
	<table width="100%" border="1" cellpadding="4">
		<thead>
		<tr>
			<th width="3%">		<B>#</B></th>
			<th width="19%" 	align="left"><B>KHÁCH HÀNG</B></th>
			<th width="8%" 		align="right"><B>V.NHẬN</B></th>
			<th width="8%" 		align="right"><B>V.TRẢ</B></th>
			<th width="8%" 		align="right"><B>V.BÁN</B></th>			
			<th width="11%" 	align="right"><B>T.VÉ THỰC</B></th>			
			<th width="11%" 	align="right"><B>T.VÉ TRẢ</B></th>
			<th width="11%" 	align="right"><B>THIẾU LẠI</B></th>
			<th width="1%"/>
			<th width="10%" 	align="right"><B>T.GÓP</B></th>
			<th width="10%" 	align="right"><B>T.ỨNG</B></th>
		</tr>
		</thead>
		<tbody>
		<tr tal:repeat="Customer CustomerAll">
			<td width="3%" align="center" tal:content="repeat/Customer/number" />
			<td width="19%" tal:content="Customer/getName"/>
			<td width="8%"/>
			<td width="8%"/>
			<td width="8%"/>
			<td width="11%"/>
			<td width="11%"/>
			<td width="11%"/>
			<td width="1%"/>
			<td width="10%"/>
			<td width="10%"/>
		</tr>
		</tbody>
	</table>
	<BR/>
	<table width="100%" border="0" cellpadding="2" >
		<tr>
			<td width="35%" align="center">NGƯỜI QUẢN LÝ</td>
			<td width="30%" align="center" />
			<td width="35%" align="center">CHỦ ĐẠI LÝ</td>
		</tr>		
	</table>	
</body>