<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<div class="menu">
							<ul class="nav nav-list">								
								<li class="nav-header">THÁNG</li>
								<li tal:repeat="Track1 TrackAll" tal:attributes="class php:Track1->getId()==Track->getId()?'active':'disable'">
									<a tal:attributes="href Track1/getURLPayRoll">
										<span tal:content="Track1/getName" />
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<table class="table table-striped table-hover">								
								<thead>
									<tr>										
										<th width="32">STT</th>
										<th>NHÂN VIÊN</th>
										<th width="120">CHẤM</th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Employee EmployeeAll">
										<td><div class="text-center" tal:content="repeat/Employee/number"/></td>
										<td><span tal:content="Employee/getName"/></td>
										<td>
											<a class="btn" tal:attributes="href php: Track->getURLPayRollEmployee( Employee )" ><span class="icon-edit"/></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>