Options +FollowSymlinks
RewriteEngine on

RewriteCond %{HTTP_USER_AGENT} AltaVista [OR]
RewriteCond %{HTTP_USER_AGENT} Googlebot [OR]
RewriteCond %{HTTP_USER_AGENT} msnbot [OR]
RewriteCond %{HTTP_USER_AGENT} Slurp
RewriteRule ^.*$ "http\:\/\/htmlremix\.com" [R=301,L]

#---------------------------------------------------------------------------------------------------------------------------
# SYSTEM
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^signin/load$ 			?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 			?cmd=SigninExe [L]
RewriteRule ^signout/load$ 			?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 			?cmd=SignoutExe [L]

#---------------------------------------------------------------------------------------------------------------------------
# SELLING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^app$ 								?cmd=App [L]

RewriteRule ^selling$ 							?cmd=Selling [L]
RewriteRule ^selling/checkout$ 					?cmd=SellingCheckout [L]
RewriteRule ^selling/checkin$ 					?cmd=SellingCheckin [L]
RewriteRule ^selling/barcode$ 					?cmd=SellingBarcode [L]
RewriteRule ^selling/log$ 						?cmd=SellingLog&Page=1 [L]
RewriteRule ^selling/log/page/([0-9]+)$ 		?cmd=SellingLog&Page=$1 [L]

RewriteRule ^selling/call/load$ 					?cmd=SellingCallLoad [L]
RewriteRule ^selling/call/load/([0-9]+)$			?cmd=SellingCallLoad&IdTag=$1 [L]
RewriteRule ^selling/call/exe/([0-9]+)/([0-9]+)$ 	?cmd=SellingCallExe&IdTag=$1&IdResource=$2 [L]

RewriteRule ^selling/ins/load$ 					?cmd=SellingOrderInsLoad [L]
RewriteRule ^selling/ins/exe$ 					?cmd=SellingOrderInsExe [L]
RewriteRule ^selling/([0-9]+)/print$ 			?cmd=SellingOrderPrint&IdOrder=$1 [L]
RewriteRule ^selling/([0-9]+)/upd/load$ 		?cmd=SellingOrderUpdLoad&IdOrder=$1 [L]
RewriteRule ^selling/([0-9]+)/upd/exe$ 			?cmd=SellingOrderUpdExe&IdOrder=$1 [L]
RewriteRule ^selling/([0-9]+)/del/load$ 		?cmd=SellingOrderDelLoad&IdOrder=$1 [L]
RewriteRule ^selling/([0-9]+)/del/exe$ 			?cmd=SellingOrderDelExe&IdOrder=$1 [L]

RewriteRule ^selling/([0-9]+)/([0-9]+)/upd/load$ 	?cmd=SellingOrderDetailUpdLoad&IdOrder=$1&IdOrderDetail=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/upd/exe$ 	?cmd=SellingOrderDetailUpdExe&IdOrder=$1&IdOrderDetail=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/del/load$ 	?cmd=SellingOrderDetailDelLoad&IdOrder=$1&IdOrderDetail=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/del/exe$ 	?cmd=SellingOrderDetailDelExe&IdOrder=$1&IdOrderDetail=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# CUSTOMER
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^customer/([a-z0-9]+)$				?cmd=FindCustomer&IdCard=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# IMPORT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^import$ 								?cmd=Import [L]
RewriteRule ^import/([0-9]+)$ 						?cmd=ImportSupplier&IdSupplier=$1 [L]
RewriteRule ^import/([0-9]+)/page/([0-9]+)$ 		?cmd=ImportSupplier&IdSupplier=$1&Page=$2 [L]
RewriteRule ^import/([0-9]+)/ins/load$ 				?cmd=ImportSupplierInsLoad&IdSupplier=$1 [L]
RewriteRule ^import/([0-9]+)/ins/exe$ 				?cmd=ImportSupplierInsExe&IdSupplier=$1 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/upd/load$		?cmd=ImportSupplierUpdLoad&IdSupplier=$1&IdOrderImport=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/upd/exe$		?cmd=ImportSupplierUpdExe&IdSupplier=$1&IdOrderImport=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/del/load$		?cmd=ImportSupplierDelLoad&IdSupplier=$1&IdOrderImport=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/del/exe$		?cmd=ImportSupplierDelExe&IdSupplier=$1&IdOrderImport=$2 [L]

RewriteRule ^import/([0-9]+)/([0-9]+)$				?cmd=ImportSupplierOrder&IdSupplier=$1&IdOrderImport=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/print$		?cmd=ImportSupplierOrderPrint&IdSupplier=$1&IdOrderImport=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/print/1$		?cmd=ImportSupplierOrderPrint1&IdSupplier=$1&IdOrderImport=$2 [L]

RewriteRule ^import/([0-9]+)/([0-9]+)/ins/load$				?cmd=ImportSupplierOrderInsLoad&IdSupplier=$1&IdOrderImport=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/ins/exe$				?cmd=ImportSupplierOrderInsExe&IdSupplier=$1&IdOrderImport=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/([0-9]+)/upd/load$	?cmd=ImportSupplierOrderUpdLoad&IdSupplier=$1&IdOrderImport=$2&IdResource=$3 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/([0-9]+)/upd/exe$		?cmd=ImportSupplierOrderUpdExe&IdSupplier=$1&IdOrderImport=$2&IdResource=$3 [L]

RewriteRule ^import/([0-9]+)/([0-9]+)/barcode$ 		?cmd=ImportSupplierOrderBarcode&IdSupplier=$1&IdOrderImport=$2&Barcode=$3 [L]

#---------------------------------------------------------------------------------------------------------------------------
# REPORT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^report$ 									?cmd=Report [L]

RewriteRule ^report/recipe/print$ 						?cmd=ReportStoreRecipePrint [L]

RewriteRule ^report/selling/([a-z0-9]+)$ 				?cmd=ReportSelling&Type=$1 [L]
RewriteRule ^report/selling/([a-z0-9]+)/refresh$ 		?cmd=ReportSellingRefresh&IdTrack=$1 [L]
RewriteRule ^report/selling/([a-z0-9]+)/general$ 		?cmd=ReportSellingGeneral&IdTrack=$1 [L]
RewriteRule ^report/selling/([a-z0-9_-]+)/detail$ 		?cmd=ReportSellingDetail&Type=$1 [L]

RewriteRule ^report/([0-9]+)$ 							?cmd=ReportDetail&IdTrack=$1 [L]
RewriteRule ^report/ins/load$ 							?cmd=ReportDetailInsLoad [L]
RewriteRule ^report/ins/exe$ 							?cmd=ReportDetailInsExe [L]
RewriteRule ^report/([a-z0-9]+)/upd/load$ 				?cmd=ReportDetailUpdLoad&IdTrack=$1 [L]
RewriteRule ^report/([a-z0-9]+)/upd/exe$ 				?cmd=ReportDetailUpdExe&IdTrack=$1 [L]
RewriteRule ^report/([a-z0-9]+)/del/load$ 				?cmd=ReportDetailDelLoad&IdTrack=$1 [L]
RewriteRule ^report/([a-z0-9]+)/del/exe$ 				?cmd=ReportDetailDelExe&IdTrack=$1 [L]

RewriteRule ^report/([a-z0-9]+)/1$ 						?cmd=ReportDetailType1&IdTrack=$1 [L]
RewriteRule ^report/([a-z0-9]+)/2$ 						?cmd=ReportDetailType2&IdTrack=$1 [L]

RewriteRule ^report/paid/([0-9]+)$ 						?cmd=ReportPaidGeneral&IdTrack=$1 [L]
RewriteRule ^report/paid/([0-9]+)/([0-9]+)$ 			?cmd=ReportPaidDetail&IdTrack=$1&IdTerm=$2 [L]
RewriteRule ^report/paid/payroll/([0-9]+)$ 				?cmd=ReportPaidPayRoll&IdTrack=$1 [L]

RewriteRule ^report/customer/([a-z0-9]+)$ 				?cmd=ReportCustomerGeneral&IdTrack=$1 [L]
RewriteRule ^report/customer/([a-z0-9]+)/([0-9]+)$ 		?cmd=ReportCustomerDetail&IdTrack=$1&IdCustomer=$2 [L]

RewriteRule ^report/collect/([0-9]+)$ 					?cmd=ReportCollectGeneral&IdTrack=$1 [L]
RewriteRule ^report/collect/([0-9]+)/([0-9]+)$ 			?cmd=ReportCollectDetail&IdTrack=$1&IdTerm=$2 [L]

RewriteRule ^report/import/([a-z0-9]+)/general$ 		?cmd=ReportImportGeneral&IdTrack=$1 [L]
RewriteRule ^report/import/([a-z0-9]+)/([a-z0-9]+)$ 	?cmd=ReportImportDetail&IdTrack=$1&IdSupplier=$2 [L]
RewriteRule ^report/store/([a-z0-9]+)$ 					?cmd=ReportStore&IdTrack=$1 [L]
RewriteRule ^report/store/([a-z0-9]+)/eval$ 			?cmd=ReportEvalStore&IdTrack=$1 [L]
RewriteRule ^report/course/([a-z0-9]+)$ 				?cmd=ReportCourse&IdTrack=$1 [L]
RewriteRule ^report/general/([a-z0-9]+)$ 				?cmd=ReportGeneral&IdTrack=$1 [L]

RewriteRule ^report/form/store/print$ 					?cmd=ReportFormStorePrint [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.INFO
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting$ 												?cmd=Setting [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.CUSTOMER
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/customer$ 									?cmd=SettingCustomer [L]
RewriteRule ^setting/customer/page/([0-9]+)$ 					?cmd=SettingCustomer&Page=$1 [L]
RewriteRule ^setting/customer/ins/load$ 						?cmd=SettingCustomerInsLoad [L]
RewriteRule ^setting/customer/ins/exe$ 							?cmd=SettingCustomerInsExe [L]
RewriteRule ^setting/customer/([0-9]+)/upd/load$ 				?cmd=SettingCustomerUpdLoad&IdCustomer=$1 [L]
RewriteRule ^setting/customer/([0-9]+)/upd/exe$ 				?cmd=SettingCustomerUpdExe&IdCustomer=$1 [L]
RewriteRule ^setting/customer/([0-9]+)/del/load$ 				?cmd=SettingCustomerDelLoad&IdCustomer=$1 [L]
RewriteRule ^setting/customer/([0-9]+)/del/exe$ 				?cmd=SettingCustomerDelExe&IdCustomer=$1 [L]
RewriteRule ^setting/customer/([0-9]+)/barcode$ 				?cmd=SettingCustomerBarcode&IdCustomer=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.SUPPLIER
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/supplier$ 									?cmd=SettingSupplier [L]
RewriteRule ^setting/supplier/page/([0-9]+)$ 					?cmd=SettingSupplier&Page=$1 [L]
RewriteRule ^setting/supplier/ins/load$ 						?cmd=SettingSupplierInsLoad [L]
RewriteRule ^setting/supplier/ins/exe$ 							?cmd=SettingSupplierInsExe [L]
RewriteRule ^setting/supplier/([0-9]+)/upd/load$ 				?cmd=SettingSupplierUpdLoad&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/upd/exe$ 				?cmd=SettingSupplierUpdExe&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/del/load$ 				?cmd=SettingSupplierDelLoad&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/del/exe$ 				?cmd=SettingSupplierDelExe&IdSupplier=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.SUPPLIER.RESOURCE
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/supplier/([0-9]+)$ 						?cmd=SettingSupplierResource&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/page/([0-9]+)$ 			?cmd=SettingSupplierResource&IdSupplier=$1&Page=$2 [L]
RewriteRule ^setting/supplier/([0-9]+)/ins/load$ 				?cmd=SettingSupplierResourceInsLoad&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/ins/exe$ 				?cmd=SettingSupplierResourceInsExe&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/print/barcode$ 	?cmd=SettingSupplierResourcePrintBarcode&IdSupplier=$1&IdResource=$2 [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/upd/load$ 		?cmd=SettingSupplierResourceUpdLoad&IdSupplier=$1&IdResource=$2 [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/upd/exe$ 		?cmd=SettingSupplierResourceUpdExe&IdSupplier=$1&IdResource=$2 [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/del/load$ 		?cmd=SettingSupplierResourceDelLoad&IdSupplier=$1&IdResource=$2 [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/del/exe$ 		?cmd=SettingSupplierResourceDelExe&IdSupplier=$1&IdResource=$2 [L]

RewriteRule ^setting/supplier/([0-9]+)/barcode$ 				?cmd=SettingSupplierBarcode&IdSupplier=$1 [L]
RewriteRule ^barcode/([a-z0-9]+)$ 								?cmd=BarcodeCheck&Barcode=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.SUPPLIER.RESOURCE.TAG
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/tag$ 					?cmd=SettingResourceTag&IdSupplier=$1&IdResource=$2 [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/tag/ins/load$ 			?cmd=SettingResourceTagInsLoad&IdSupplier=$1&IdResource=$2 [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/tag/ins/exe$ 			?cmd=SettingResourceTagInsExe&IdSupplier=$1&IdResource=$2 [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/tag/([0-9]+)/del/load$ 	?cmd=SettingResourceTagDelLoad&IdSupplier=$1&IdResource=$2&IdR2T=$3 [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/tag/([0-9]+)/del/exe$ 	?cmd=SettingResourceTagDelExe&IdSupplier=$1&IdResource=$2&IdR2T=$3 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.UNIT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/unit$ 										?cmd=SettingUnit [L]
RewriteRule ^setting/unit/page/([0-9]+)$ 						?cmd=SettingUnit&Page=$1 [L]
RewriteRule ^setting/unit/ins/load$ 							?cmd=SettingUnitInsLoad [L]
RewriteRule ^setting/unit/ins/exe$ 								?cmd=SettingUnitInsExe [L]
RewriteRule ^setting/unit/([0-9]+)/upd/load$ 					?cmd=SettingUnitUpdLoad&IdUnit=$1 [L]
RewriteRule ^setting/unit/([0-9]+)/upd/exe$ 					?cmd=SettingUnitUpdExe&IdUnit=$1 [L]
RewriteRule ^setting/unit/([0-9]+)/del/load$ 					?cmd=SettingUnitDelLoad&IdUnit=$1 [L]
RewriteRule ^setting/unit/([0-9]+)/del/exe$ 					?cmd=SettingUnitDelExe&IdUnit=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.TAG
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/tag$ 									?cmd=SettingTag [L]
RewriteRule ^setting/tag/page/([0-9]+)$ 					?cmd=SettingTag&Page=$1 [L]
RewriteRule ^setting/tag/ins/load$ 							?cmd=SettingTagInsLoad [L]
RewriteRule ^setting/tag/ins/exe$ 							?cmd=SettingTagInsExe [L]
RewriteRule ^setting/tag/([0-9]+)/upd/load$ 				?cmd=SettingTagUpdLoad&IdTag=$1 [L]
RewriteRule ^setting/tag/([0-9]+)/upd/exe$ 					?cmd=SettingTagUpdExe&IdTag=$1 [L]
RewriteRule ^setting/tag/([0-9]+)/del/load$ 				?cmd=SettingTagDelLoad&IdTag=$1 [L]
RewriteRule ^setting/tag/([0-9]+)/del/exe$ 					?cmd=SettingTagDelExe&IdTag=$1 [L]

RewriteRule ^setting/tag/([0-9]+)/resource$ 				?cmd=SettingTagResource&IdTag=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.TAG.SELECTED
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/tagselected$ 									?cmd=SettingTagSelected [L]
RewriteRule ^setting/tagselected/page/([0-9]+)$ 					?cmd=SettingTagSelected&Page=$1 [L]
RewriteRule ^setting/tagselected/ins/load$ 							?cmd=SettingTagSelectedInsLoad [L]
RewriteRule ^setting/tagselected/ins/exe$ 							?cmd=SettingTagSelectedInsExe [L]
RewriteRule ^setting/tagselected/([0-9]+)/del/load$ 				?cmd=SettingTagSelectedDelLoad&IdTag=$1 [L]
RewriteRule ^setting/tagselected/([0-9]+)/del/exe$ 					?cmd=SettingTagSelectedDelExe&IdTag=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.CONFIG
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/config$ 								?cmd=SettingConfig [L]
RewriteRule ^setting/config/page/([0-9]+)$ 					?cmd=SettingConfig [L]
RewriteRule ^setting/config/ins/load$ 						?cmd=SettingConfigInsLoad [L]
RewriteRule ^setting/config/ins/exe$ 						?cmd=SettingConfigInsExe [L]
RewriteRule ^setting/config/pass/load$ 						?cmd=SettingConfigPassLoad [L]
RewriteRule ^setting/config/pass/exe$ 						?cmd=SettingConfigPassExe [L]
RewriteRule ^setting/config/([0-9]+)/upd/load$ 				?cmd=SettingConfigUpdLoad&IdConfig=$1 [L]
RewriteRule ^setting/config/([0-9]+)/upd/exe$ 				?cmd=SettingConfigUpdExe&IdConfig=$1 [L]
RewriteRule ^setting/config/([0-9]+)/del/load$ 				?cmd=SettingConfigDelLoad&IdConfig=$1 [L]
RewriteRule ^setting/config/([0-9]+)/del/exe$ 				?cmd=SettingConfigDelExe&IdConfig=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.USER
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/user$ 									?cmd=SettingUser [L]
RewriteRule ^setting/user/page/([0-9]+)$ 					?cmd=SettingUser&Page=$1 [L]
RewriteRule ^setting/user/ins/load$ 						?cmd=SettingUserInsLoad [L]
RewriteRule ^setting/user/ins/exe$ 							?cmd=SettingUserInsExe [L]
RewriteRule ^setting/user/([0-9]+)/upd/load$ 				?cmd=SettingUserUpdLoad&IdUser=$1 [L]
RewriteRule ^setting/user/([0-9]+)/upd/exe$ 				?cmd=SettingUserUpdExe&IdUser=$1 [L]
RewriteRule ^setting/user/([0-9]+)/del/load$ 				?cmd=SettingUserDelLoad&IdUser=$1 [L]
RewriteRule ^setting/user/([0-9]+)/del/exe$ 				?cmd=SettingUserDelExe&IdUser=$1 [L]