Options +FollowSymlinks
RewriteEngine on

#---------------------------------------------------------------------------------------------------------------------------
# SYSTEM
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^signin/load$ 														?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 														?cmd=SigninExe [L]
RewriteRule ^signout/load$ 														?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 														?cmd=SignoutExe [L]
RewriteRule ^readnumberstring/([a-z0-9]+)$										?cmd=ReadNumberString&Number=$1 [L]
RewriteRule ^search/resource$ 								?cmd=ExportCustomerOrderSearchResource [L]

RewriteRule ^object/load/([A-Za-z0-9]+)/([0-9]+)$ 			?cmd=ObjectLoad&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/del/([A-Za-z0-9]+)/([0-9]+)$ 			?cmd=ObjectDel&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/ins/([A-Za-z0-9]+)$ 					?cmd=ObjectIns&ObjectName=$1 [L]
RewriteRule ^object/upd/([A-Za-z0-9]+)$ 					?cmd=ObjectUpd&ObjectName=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SELLING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^([a-z0-9]+)/selling$ 												?cmd=Selling&IdApp=$1 [L]
RewriteRule ^([a-z0-9]+)/selling/([a-z0-9]+)/ins/load$ 							?cmd=SellingCustomerInsLoad&IdApp=$1&IdCustomer=$2 [L]
RewriteRule ^([a-z0-9]+)/selling/([a-z0-9]+)/ins/exe$ 							?cmd=SellingCustomerInsExe&IdApp=$1&IdCustomer=$2 [L]
RewriteRule ^([a-z0-9]+)/selling/([a-z0-9]+)/([a-z0-9]+)/upd/load$				?cmd=SellingCustomerUpdLoad&IdApp=$1&IdCustomer=$2&IdOrderExport=$3 [L]
RewriteRule ^([a-z0-9]+)/selling/([a-z0-9]+)/([a-z0-9]+)/upd/exe$				?cmd=SellingCustomerUpdExe&IdApp=$1&IdCustomer=$2&IdOrderExport=$3 [L]
RewriteRule ^([a-z0-9]+)/selling/([a-z0-9]+)/([a-z0-9]+)/del/load$				?cmd=SellingCustomerDelLoad&IdApp=$1&IdCustomer=$2&IdOrderExport=$3 [L]
RewriteRule ^([a-z0-9]+)/selling/([a-z0-9]+)/([a-z0-9]+)/del/exe$				?cmd=SellingCustomerDelExe&IdApp=$1&IdCustomer=$2&IdOrderExport=$3 [L]

#---------------------------------------------------------------------------------------------------------------------------
# EXPORT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^export$ 								?cmd=Export [L]
RewriteRule ^export/([0-9]+)$ 						?cmd=ExportCustomer&IdCustomer=$1 [L]
RewriteRule ^export/([0-9]+)$ 						?cmd=ExportCustomer&IdCustomer=$1 [L]
RewriteRule ^export/([0-9]+)/page/([0-9]+)$ 		?cmd=ExportCustomer&IdCustomer=$1&Page=$2 [L]
RewriteRule ^export/([0-9]+)/([0-9]+)$				?cmd=ExportCustomerOrder&IdCustomer=$1&IdOrder=$2 [L]
RewriteRule ^export/([0-9]+)/([0-9]+)/print$		?cmd=ExportCustomerOrderPrint&IdCustomer=$1&IdOrder=$2 [L]
RewriteRule ^export/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)$ 	?cmd=ExportCustomerOrderExe&IdCustomer=$1&IdOrder=$2&IdResource=$3&Count=$4&Price=$5 [L]

#---------------------------------------------------------------------------------------------------------------------------
# IMPORT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^import$ 								?cmd=Import [L]
RewriteRule ^import/([0-9]+)$ 						?cmd=ImportSupplier&IdSupplier=$1 [L]
RewriteRule ^import/([0-9]+)$ 						?cmd=ImportSupplier&IdSupplier=$1 [L]
RewriteRule ^import/([0-9]+)/page/([0-9]+)$ 		?cmd=ImportSupplier&IdSupplier=$1&Page=$2 [L]

RewriteRule ^import/([0-9]+)/([0-9]+)$				?cmd=ImportSupplierOrder&IdSupplier=$1&IdOrder=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/print$		?cmd=ImportSupplierOrderPrint&IdSupplier=$1&IdOrder=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)$ 	?cmd=ImportSupplierOrderExe&IdSupplier=$1&IdOrder=$2&IdResource=$3&Count=$4&Price=$5 [L]

#---------------------------------------------------------------------------------------------------------------------------
# REPORT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^report$ 										?cmd=Report [L]
RewriteRule ^report/([0-9]+)$ 								?cmd=ReportDetail&IdTrack=$1 [L]
RewriteRule ^report/([0-9]+)/course$ 						?cmd=ReportCourse&IdTrack=$1&IdTD=$2 [L]

RewriteRule ^report/([0-9]+)/([0-9]+)$ 						?cmd=ReportDaily&IdTrack=$1&IdTD=$2 [L]
RewriteRule ^report/([0-9]+)/([0-9]+)/selling$ 				?cmd=ReportDailySelling&IdTrack=$1&IdTD=$2 [L]
RewriteRule ^report/([0-9]+)/([0-9]+)/import$ 				?cmd=ReportDailyImport&IdTrack=$1&IdTD=$2 [L]
RewriteRule ^report/([0-9]+)/([0-9]+)/store$ 				?cmd=ReportDailyStore&IdTrack=$1&IdTD=$2 [L]
RewriteRule ^report/([0-9]+)/([0-9]+)/paid$ 				?cmd=ReportDailyPaid&IdTrack=$1&IdTD=$2 [L]
RewriteRule ^report/([0-9]+)/([0-9]+)/collect$ 				?cmd=ReportDailyCollect&IdTrack=$1&IdTD=$2 [L]
RewriteRule ^report/([0-9]+)/([0-9]+)/course$ 				?cmd=ReportDailyCourse&IdTrack=$1&IdTD=$2 [L]
RewriteRule ^report/([0-9]+)/([0-9]+)/customer$ 			?cmd=ReportDailyCustomer&IdTrack=$1&IdTD=$2 [L]
RewriteRule ^report/log/([0-9_-]+)$ 						?cmd=ReportDailyLog&Date=$1 [L]
RewriteRule ^report/([0-9]+)/([0-9]+)/customer/([0-9]+)$ 	?cmd=ReportDailyCustomerDetail&IdTrack=$1&IdTD=$2&IdCustomer=$3 [L]

#---------------------------------------------------------------------------------------------------------------------------
# MONEY
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^money$ 												?cmd=Money [L]

RewriteRule ^money/collect/general$ 								?cmd=MoneyCollectGeneral [L]
RewriteRule ^money/collect/general/([0-9]+)$ 						?cmd=MoneyCollectGeneral&IdTerm=$1 [L]
RewriteRule ^money/collect/general/([0-9]+)/page/([0-9]+)$ 			?cmd=MoneyCollectGeneral&IdTerm=$1&Page=$2 [L]

RewriteRule ^money/collect/customer$ 								?cmd=MoneyCollectCustomer [L]
RewriteRule ^money/collect/customer/([0-9]+)$ 						?cmd=MoneyCollectCustomer&IdCustomer=$1 [L]
RewriteRule ^money/collect/customer/([0-9]+)/page/([0-9]+)$ 		?cmd=MoneyCollectCustomer&IdCustomer=$1&Page=$2 [L]

RewriteRule ^money/paid/general$ 									?cmd=MoneyPaidGeneral [L]
RewriteRule ^money/paid/general/([0-9]+)$ 							?cmd=MoneyPaidGeneral&IdTerm=$1 [L]
RewriteRule ^money/paid/general/([0-9]+)/page/([0-9]+)$ 			?cmd=MoneyPaidGeneral&IdTerm=$1&Page=$2 [L]

RewriteRule ^money/paid/customer$ 									?cmd=MoneyPaidCustomer [L]
RewriteRule ^money/paid/customer/([0-9]+)$ 							?cmd=MoneyPaidCustomer&IdCustomer=$1 [L]
RewriteRule ^money/paid/customer/([0-9]+)/page/([0-9]+)$ 			?cmd=MoneyPaidCustomer&IdCustomer=$1&Page=$2 [L]

RewriteRule ^money/paid/employee$ 									?cmd=MoneyPaidEmployee [L]
RewriteRule ^money/paid/employee/([0-9]+)$ 							?cmd=MoneyPaidEmployee&IdEmployee=$1 [L]
RewriteRule ^money/paid/employee/([0-9]+)/page/([0-9]+)$ 			?cmd=MoneyPaidEmployee&IdEmployee=$1&Page=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.INFO
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^app$ 												?cmd=App [L]

RewriteRule ^setting$ 											?cmd=Setting [L]
RewriteRule ^setting/theme/([a-z0-9_-]+)$ 						?cmd=SettingThemeChangeExe&Theme=$1 [L]
RewriteRule ^setting/category$ 									?cmd=SettingCategory [L]
RewriteRule ^setting/category/page/([0-9]+)$ 					?cmd=SettingCategory&Page=$1 [L]
RewriteRule ^setting/employee$ 									?cmd=SettingEmployee [L]
RewriteRule ^setting/employee/page/([0-9]+)$ 					?cmd=SettingEmployee&Page=$1 [L]
RewriteRule ^setting/store$ 									?cmd=SettingStore [L]
RewriteRule ^setting/store/page/([0-9]+)$ 						?cmd=SettingStore&Page=$1 [L]
RewriteRule ^setting/customer$ 									?cmd=SettingCustomer [L]
RewriteRule ^setting/customer/page/([0-9]+)$ 					?cmd=SettingCustomer&Page=$1 [L]
RewriteRule ^setting/supplier$ 									?cmd=SettingSupplier [L]
RewriteRule ^setting/supplier/page/([0-9]+)$ 					?cmd=SettingSupplier&Page=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)$ 						?cmd=SettingSupplierResource&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/page/([0-9]+)$ 			?cmd=SettingSupplierResource&IdSupplier=$1&Page=$2 [L]
RewriteRule ^setting/unit$ 									?cmd=SettingUnit [L]
RewriteRule ^setting/unit/page/([0-9]+)$ 					?cmd=SettingUnit&Page=$1 [L]
RewriteRule ^setting/config$ 								?cmd=SettingConfig [L]
RewriteRule ^setting/config/page/([0-9]+)$ 					?cmd=SettingConfig [L]
RewriteRule ^setting/user$ 									?cmd=SettingUser [L]
RewriteRule ^setting/user/page/([0-9]+)$ 					?cmd=SettingUser&Page=$1 [L]
RewriteRule ^setting/termpaid$ 								?cmd=SettingTermPaid [L]
RewriteRule ^setting/termpaid/page/([0-9]+)$ 				?cmd=SettingTermPaid&Page=$1 [L]
RewriteRule ^setting/termcollect$ 							?cmd=SettingTermCollect [L]
RewriteRule ^setting/termcollect/page/([0-9]+)$ 			?cmd=SettingTermCollect&Page=$1 [L]