<!DOCTYPE html>
<html lang="en">
  <head>
	<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
	<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	
  </head>
  <body onunload="GUnload()">
	<div metal:use-macro="mFront.xhtml/Header"/>    
    <div class="container">
        <div metal:use-macro="mFront.xhtml/PageTitle"/>
        <div metal:use-macro="mFront.xhtml/Menu"/>
		<div class="row-fluid">
			<div class="span3">
				<div class="row-fluid">
					<div class="span12">
						<h2>Địa chỉ</h2>
						<address tal:content="ConfigAddress/getValue" />
						<h2>Liên hệ</h2>
						<B tal:content="ConfigContact/getValue" /> - 
						<address tal:content="ConfigPhone/getValue" />
					</div>
				</div>
			</div>
			<div class="span9">
				<div class="row-fluid">
					<ul class="breadcrumb">
						<li><a href="#">Trang chủ</a> <span class="divider">/</span></li>
						<li class="active">Liên hệ</li>
					</ul>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<div class="page-header">
							<h1>Liên lạc nhanh với chúng tôi <small>sẽ được mức giá ưu đãi</small></h1>
						</div>						
						<div class="page-header pg-header pg-header-location reset-margin">
							<h4 class="reset-margin">Hướng dẫn đường đi</h4>
						</div>
						<div class="b-content padding-content news-content">
							<div id="map" class="img-polaroid" style="width:100%; height:350px;"/>
							<br/>
							<div class="news-author">
								<div class="news-tools">
									<p>Tìm đường bằng cách chọn vị trí</p>
								</div>
							</div>
							<form class="form-horizontal" action="directions.php" method="POST">
								<div class="control-group">
									<label class="control-label" for="Name">Chọn vị trí</label>
									<div class="controls">
										<select name="cboTinhThanh" id="cboTinhThanh">											
											<option label="Vĩnh Long" value="Vĩnh Long">Vĩnh Long</option>
											<option label="Đồng Tháp" value="Đồng Tháp">Đồng Tháp</option>
											<option label="Hồ Chí Minh" value="Hồ Chí Minh">Hồ Chí Minh</option>
											<option label="Hà Nội" value="Hà Nội">Hà Nội</option>													
											<option label="Cần Thơ" value="Cần Thơ">Cần Thơ</option>
											<option label="An Giang" value="An Giang">An Giang</option>
											<option label="BR - Vũng Tàu" value="BR - Vũng Tàu">BR - Vũng Tàu</option>													
											<option label="Bạc Liêu" value="Bạc Liêu">Bạc Liêu</option>													
											<option label="Bến Tre" value="Bến Tre">Bến Tre</option>													
											<option label="Bình Dương" value="Bình Dương">Bình Dương</option>
											<option label="Bình Phước" value="Bình Phước">Bình Phước</option>
											<option label="Cà Mau" value="Cà Mau">Cà Mau</option>													
											<option label="Đồng Nai" value="Đồng Nai">Đồng Nai</option>											
											<option label="Kiên Giang" value="Kiên Giang">Kiên Giang</option>
											<option label="Long An" value="Long An">Long An</option>													
											<option label="Sóc Trăng" value="Sóc Trăng">Sóc Trăng</option>													
											<option label="Tiền Giang" value="Tiền Giang">Tiền Giang</option>
											<option label="Trà Vinh" value="Trà Vinh">Trà Vinh</option>
										</select>
									</div>
								</div>
							</form>
							<br/>
							<div class="news-author">
								<div class="news-tools">
									<p>Tìm đường bằng cách nhập vị trí</p>
								</div>
							</div>
							<form class="form-horizontal" action="directions.php" method="POST">
								<input id="end" type="hidden" value="399D/31 Ap Phuoc Yen A, Phu Quoi, Long Ho, Vinh Long"/>
								<div class="control-group">
									<label class="control-label" for="Name">Vị trí của bạn</label>
									<div class="controls">
										<input id="start" type="text" value="Vĩnh Long"/>
										<button type="submit" id="getdirections" name="submit" value="submit-value" class="btn">Tìm đường</button>
									</div>
								</div>
							</form>
							<div id="directions" class="img-polaroid"></div>
						</div>
						<p>Mọi thắc mắc giao dịch trên hệ thống bạn có thể liên lạc trực tiếp qua điện thoại hoặc qua
						tin nhắn trực tiếp.</p>						
						
							<label class="control-label">Tên</label>
							<input id="name" type="text" class="input-xxlarge" required="true"/>
							<label class="control-label">Email</label>
							<input id="email" type="text" class="input-xxlarge" required="true"/>
							<label class="control-label">Chủ đề</label>
							<input id="subject" type="text" class="input-xxlarge" required="true"/>
							<label class="control-label">Nội dung</label>
							<textarea id="content" class="input-xxlarge" rows="5" style="resize: none;" required="true"></textarea><br/>
							
							<button id="BtnSend" type="submit" class="btn">Gửi đi</button>
					</div>
				</div>
			</div>
		</div>	  
		<div metal:use-macro="mFront.xhtml/Footer"/>
		<div metal:use-macro="mFront.xhtml/FixedFunction"/>
		</div> <!-- /container -->
	<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=AIzaSyAL3E55skCbhZdaN7Jm3Tip7Np1X04f76w" type="text/javascript"></script>				
	<script type="text/javascript" language="javascript" src="/mvc/templates/theme/cms/js/gps.jquery.js"/>
		<script type="text/javascript">
			$(function() {			
				$("#map").googleMap().load();				
			});
			
			$('#BtnSend').click(function(e){				
				var Data = [];
				Data[0] 	= $("#name").val();
				Data[1] 	= $("#email").val();
				Data[2] 	= $("#subject").val();				
				Data[3] 	= $("#content").val();					
				
				var URL = "/lien-he/email";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,						
						success: function(msg){	
							alert(msg);
						}
					});
			});	
		</script>
  </body>
</html>
