<!DOCTYPE html>
<html lang="en">
  <head>
	<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
	<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
  </head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>    
		<div class="container">
			<div metal:use-macro="mFront.xhtml/PageTitle"/>
			<div metal:use-macro="mFront.xhtml/Menu"/>           
			<div class="span3">
				<div class="row-fluid">
					<ul class="nav nav-tabs nav-stacked" tal:repeat="Tag TagAll">
						<li class="active"><a href="#" tal:content="Tag/getName"/></li>						
						<li tal:repeat="PT Tag/getPostTop4">							
							<a tal:attributes="href PT/getURLRead" tal:content="PT/getPost/getTitle"/>
						</li>
					</ul>										
				</div>
			</div>
			<div class="span9">
				<div class="page-header"><h1 tal:content="Tag/getName"/></div>
				<ul>
					<li tal:repeat="PT Tag/getPostAll">
						<a tal:attributes="href PT/getURLRead">
							<span tal:content="PT/getPost/getTitle"/>
						</a>
					</li>
				</ul>
			</div>			
			<div metal:use-macro="mFront.xhtml/Footer"/>
			<div metal:use-macro="mFront.xhtml/FixedFunction"/>
		</div> <!-- /container -->
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>