<!DOCTYPE html>
<html lang="en">	
	<body>				
		<div id="ViewOrderExport" class="widget-box">
			<div class="widget-title">
				<span class="icon"><i class="glyphicon glyphicon-th-list"/> ĐƠN HÀNG PHẢI QUA KIỂM DUYỆT</span>
				<div class="buttons">
					<a title="Duyệt qua" class="btn Checkout" tal:attributes="alt Order/getURLStateNext"><i class="glyphicons-ok_2" /></a>
					<a title="In phiếu" class="btn Ticket" tal:attributes="alt Order/getId"><i class="glyphicons-print"></i></a>
				</div>
			</div>
			<div class="widget-content nopadding size-12">
				<div class="invoice-content">
					<div>						
						<div class="invoice-to">
							<ul>							
								<li><span tal:content="Order/getDatePrint"/></li>
							</ul>
						</div>
						<div class="invoice-from">
							<ul>
								<li><span tal:content="Order/getStatePrint"/></li>
								<li><span tal:content="php: Order->getCustomer()->getName() . ' (' . Order->getCustomer()->getPhone() . ' )'"/></li>
							</ul>
						</div>
					</div>
						<table class="table table-striped table-hover">
							<thead>
								<tr>										
									<th width="30">STT</th>
									<th width="80" />
									<th><div class="text-left">TÊN</div></th>
									<th width="30">SL</th>
									<th width="80"><div class="text-right">Đ.GIÁ</div></th>
									<th width="90"><div class="text-right">T.TIỀN</div></th>									
								</tr>
							</thead>
							<tbody>
								<tr tal:repeat="OD Order/getDetailAll">
									<td><div class="text-center" tal:content="repeat/OD/number" /></td>
									<td><img width="60px" tal:attributes="src OD/getResource/getImage" /></td>
									<td><span tal:content="OD/getResource/getName"/></td>
									<td><div class="text-center" tal:content="OD/getCountPrint"/></td>
									<td><div class="text-right" tal:content="OD/getPricePrint"/></td>
									<td><div class="text-right" tal:content="OD/getValuePrint"/></td>									
								</tr>
								<tr>
									<td colspan="5"><B>TỔNG CỘNG</B></td>
									<td><div class="text-right"><B tal:content="Order/getValuePrint"/></div></td>
								</tr>
							</tbody>
						</table>																																								
				</div>
			</div>
		</div>								
        <script type="text/javascript">
		/*<![CDATA[*/
			//-----------------------------------------------------------------------------------
			//CHECKOUT
			//-----------------------------------------------------------------------------------
			$('.Checkout').click(function(e){
				var URL = $(this).attr('alt');																
				$.ajax({
					type: "POST",
					url: URL,
					success: function(msg){						
						location.reload();
					}
				});
					
			});
						
			$(".Ticket").click(function(){
				var url = "/selling/print/"+$(this).attr('alt');
				var thePopup = window.open( url, "In Phiếu", "menubar=0,location=0,height=700,width=700" );
				thePopup.print();
			});
			
		/*]]>*/
		</script>
	</body>
</html>