<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<style>
	@media print{
		.header, .hide { visibility: hidden };
		body { font-size: 9px };
		margin: 0mm 0mm 0mm 0mm;
	}	 
	@media screen {
		body { font-size: 9px }
	}
	@media screen, print {
		body { line-height: 1.0 }
	}
	@page  
	{ 
		size: auto;   /* auto is the initial value */ 
		/* this affects the margin in the printer settings */ 
		margin: 0mm 0mm 0mm 0mm;
	}
	</style>
</head>
<body onload="window.print()">
	<table align="left" width="100%" cellpadding="1" cellspacing="0" border="0" bordercolor="#FFF">
		<tr>			
			<td width="100%" align="center" style="font-size:14pt;font-family:Arial; line-height:14pt;padding-top:0px">
				<b tal:content="ConfigName/getValue"/>
			</td>
		</tr>
		<tr>			
			<td width="100%" align="center" style="font-size:10pt;font-family:Arial; line-height:11pt;padding-top:0px">
				<span tal:content="ConfigAddress/getValue"/>
			</td>
		</tr>
		<tr>			
			<td width="100%" align="center" style="font-size:10pt;font-family:Arial; line-height:11pt;padding-top:0px">
				<span tal:content="ConfigPhone/getValue"/>
			</td>
		</tr>
		<tr>
			<td width="100%" align="center" style="font-size:15pt;font-family:Arial; line-height:14pt;padding-top:5px;padding-bottom:5px">
				<b>PHIẾU THANH TOÁN</b>
			</td>
		</tr>
	</table>
	<br/>
	<table align="left" width="100%" cellpadding="1" cellspacing="0" border="0" style="font-size:10pt;font-family:Arial; line-height:10pt;padding-top:0px">		
		<tr>
			<td width="40%" align="left">								
				<span tal:content="php:mb_strtoupper(Order->getCustomer()->getName(),'UTF8')"/>
			</td>
			<td width="60%" align="right">
				<span tal:content="Order/getCustomer/getPhone" />
			</td>
		</tr>		
		<tr>
			<td width="40%" align="left">
				HĐ: <span tal:content="Order/getId" />
			</td>
			<td width="60%" align="right">
				<span tal:content="Order/getUser/getName" />
			</td>
		</tr>		
	</table>
	<br/>
	
	<table align="left" width="100%" cellpadding="2" cellspacing="0" border="1" style="font-size:9pt;font-family:Arial; line-height:10pt;padding-top:0px">
		<thead>
			<tr>
				<th width="45%" align="left"><b>MÓN</b></th>
				<th width="15%" align="right"><b>SL</b></th>
				<th width="20%" align="right"><b>Đ.GIÁ</b></th>
				<th width="20%" align="right"><b>T.TIỀN</b></th>
			</tr>
		</thead>
		<tbody>
			<tr tal:repeat="OD Order/getDetailAll">
				<td width="45%" align='left' tal:content="OD/getResource/getName" />
				<td width="15%" align='right' tal:content="OD/getCount" />
				<td width="20%" align='right' tal:content="OD/getPricePrint" />
				<td width="20%" align='right' ><span tal:content="OD/getValuePrint" /></td>
			</tr>		
		</tbody>
	</table>	
	<table align="left" style="padding-bottom:2px;" width="100%" cellpadding="2" cellspacing="0" border="0">
		<tbody>						
			<tr>
				<td align='right' colspan="5" width="100%" style="font-size:12pt;font-family:Arial; line-height:12pt;padding-top:0px">
					TC: <b tal:content="Order/getValuePrint"/>
				</td>
			</tr>
			<tr>
				<td align='right' colspan="5" width="100%">
					<p>(<span tal:content="Order/getValueStrPrint" />)</p>
				</td>
			</tr>
			<tr>
				<td align='center' colspan="5" width="100%">
					<B style="font-size:10pt;font-family:Arial; line-height:10pt;">CÁM ƠN QUÍ KHÁCH. HẸN GẶP LẠI !</B>
				</td>
			</tr>
		</tbody>
	</table>	
</body>
