<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<!--
					<a href="#DialogIns" data-toggle="modal" class="btn btn-primary btn-ins">
						
					</a>
					!-->
					<button id="InsButton" class="btn btn-primary">
						<i class="glyphicons-plus"/> Thêm mới
					</button>
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="40">STT</th>
										<th width="120" class="left">LOẠI</th>
										<th width="120" class="left">THỜI GIAN</th>
										<th class="left">DIỄN GIẢI</th>
										<th width="120" class="right">CHI TIẾT</th>
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody>									
									<tr tal:repeat="Order Tracking/getOrderAll">
										<td class="center"><span tal:content="repeat/Order/number"/></td>
										<td class="left">											
											<a class="update-item" href="#DialogEdit" data-toggle="modal" tal:attributes="data-id Order/getId" tal:content="Order/getTagPrint"/>
										</td>
										<td><a class="update-item" href="#DialogEdit" data-toggle="modal" tal:attributes="data-id Order/getId" tal:content="Order/getDatePrint"/></td>
										<td><span tal:content="Order/getNote"/></td>
										<td align="right">
											<a tal:attributes="href Order/getURLDetail">
												<span tal:content="Order/getValuePrint" />
											</a>
										</td>
										<td class="center"><a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Order/getId"><i class="glyphicons-remove_2"/></a></td>
									</tr>									
								</tbody>
							</table>
						</div>
						<!--
						<a href="#DialogDelSelected" data-toggle="modal" class="btn btn-primary btn-ins">
							<i class="glyphicons-remove_2"/> Xóa chọn
						</a>
						!-->
					</div>
										
					<!-- UPDATE DIALOG  -->
					<div id="DialogEdit" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-transfer modal-icon"/>CẬP NHẬT PHIẾU HÀNG</h3>
								</div>
								<div class="form-horizontal">
									<div class="form-group">
										<label class="control-label">Loại</label>
										<div class="controls">
											<select name="Tag2" id="Tag2" style="width:80%;">
												<option value="0">BÌNH THƯỜNG</option>
												<option value="1">THUỐC</option>
												<option value="2">THỨC ĂN</option>
											</select>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">Ngày</label>
										<div class="controls">
											<input id="Date2" name="Date2" type="text" data-date-format="yyyy-mm-dd hh:ii" class="form-control input-small"/>
										</div>
									</div>									
									<div class="control-group">
										<label class="control-label">Diễn giải</label>
										<div class="controls">
											<input id="Note2" name="Note2" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="modal-footer">
										<button id="URLUpdButton" class="btn btn-primary btn-small"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END UPDATE DIALOG  -->
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>
					<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
				</div>
			</div>
		</div>
		<div id="IdTracking" tal:attributes="alt Tracking/getId" />
		<div id="IdUser" tal:attributes="alt IdUser" />
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			
			$('#Date1').datetimepicker({
				language:  'vi',
				weekStart: 1,
				todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				forceParse: 0,
				showMeridian: 1
			});
			$('#Date2').datetimepicker({
				language:  'vi',
				weekStart: 1,
				todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				forceParse: 0,
				showMeridian: 1
			});
			
			$('#URLDelSelectedButton').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/object/del/OrderExport/0";
				
				$(".CheckedDel").each(function( i, obj){
					if ( $(this).is(':checked')==true ){
						count += 1;
						Data[count] = $(this).attr('data-id');
					}
				});
				
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Delete 1 ORDER IMPORT			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/OrderExport/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 ORDER
			$('#InsButton').click(function(){				
				var Data = [];
				Data[0] = 'null';
				Data[1] = $('#IdTracking').attr('alt');	
				Data[2] = $('#IdUser').attr('alt');
				Data[3] = 0;
				Data[4] = "";
				Data[5] = "";
				
				var URL = "/object/ins/OrderExport";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 ORDER
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/OrderExport/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$.getJSON(url, function(data){
					$('#URLUpdButton').attr('alt', data.Id);
					$('#Tag2').select2('val', data.Tag);
					$('#Date2').attr('value', data.Date);
					$('#Note2').attr('value', data.Note);
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 TABLE
			//-----------------------------------------------------------------------------------
			$('#URLUpdButton').click(function(){
				var Data = [];
				Data[0] = $('#URLUpdButton').attr('alt');
				Data[1] = $('#IdTracking').attr('alt');	
				Data[2] = $('#IdUser').attr('alt');	
				Data[3] = $('#Tag2').val();
				Data[4] = $('#Date2').val();
				Data[5] = $('#Note2').val();
				
				var URL = "/object/upd/OrderExport";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		/*]]>*/
		</script>
	</body>
</html>