<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">															
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="40"><i class="glyphicons-fax"/></th>
										<th><div class="text-left">TÊN</div></th>										
										<th width="120">CHI TIẾT</th>										
										<th width="120">LƯU</th>
										<th width="120">IN</th>
									</tr>
								</thead>
								<tbody role="alert" aria-live="polite" aria-relevant="all">
									<tr tal:repeat="CT CTAll">
										<td align="center" tal:content="repeat/CT/number"/>
										<td><span tal:content="CT/getNote"/></td>
										<td class="center">
											<a tal:attributes="href php:Tracking->getURLCustomerTrackingDetail(Customer->getId(), CT->getId())">
												Xem
											</a>
										</td>										
										<td class="center">
											<a tal:attributes="href php:Tracking->getURLCustomerTrackingDetailSave(Customer->getId(), CT->getId())">
												Click
											</a>
										</td>
										<td class="center">
											<a tal:attributes="href php:Tracking->getURLCustomerTrackingDetailPrint(Customer->getId(), CT->getId())" target="blank">
												Click
											</a>
										</td>
									</tr>
								</tbody>
							</table>
							<p/>
							<p><B>CHI TIẾT</B> xem chi tiết công nợ của một <B>GIAO DỊCH</B> của <B>KHÁCH HÀNG</B> cụ thể</p>
							<p><B>LƯU</B> Sau khi xem nội dung <B>CHI TIẾT</B> thì tiến hành nhấn lưu để <B>HỆ THỐNG</B> lưu trữ lại các tính toán <B>CÔNG NỢ</B></p>
							<p><B>IN</B> tiến hành in chi tiết công nợ của một <B>GIAO DỊCH</B> của <B>KHÁCH HÀNG</B> để tiến hành quá trình đối chiếu</p>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>		
	</body>
</html>