<html>
	<body>
		<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr style="font-size:10px; line-height:1px;">
					<td width="6%" rowspan="3">
						<img width="60" src="/data/images/logo_gray.jpg"/>
					</td>
					<td width="60%">
						<B>CỬA HÀNG THỨC ĂN THỦY SẢN – GIA SÚC – THUỐC THÚ Y BA ĐỨC</B>						
					</td>
					<td width="32%" align="right">
						<B>PHỤ LỤC CHI TIẾT LÃI TRẢ CHẬM</B>
					</td>
				</tr>
				<tr style="font-size:10px; line-height:1px;">
					<td width="60%">
						Địa chỉ: 234 Khóm Phú Hòa - TT Cái Tàu Hạ - Châu Thành – Đồng Tháp
					</td>
					<td width="32%" align="right">						
						TỪ NGÀY <b tal:content="Tracking/getDateStartPrint"/> ĐẾN <b tal:content="Tracking/getDateEndPrint"/>
					</td>
				</tr>
				<tr style="font-size:10px; line-height:1px;">
					<td width="60%">Điện thoại: 0673 842 747 – Fax: 0673 611 798</td>
					<td width="32%" align="right" />
				</tr>
				<tr><td colspan="3"/></tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:11px; line-height:1px; text-align:center;">
					<td colspan="3">
						<p>Kính gửi quí khách hàng: <b tal:content="php:mb_strtoupper(CT->getCustomer()->getName(),'UTF8')" style="font-size:15px;"/> CMND: <B tal:content="CT/getCustomer/getCard"/></p>
						<p>Địa chỉ: <span tal:content="CT/getNote"/></p>
					</td>
				</tr>
				<tr><td colspan="3"/></tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:11px; line-height:1px;">
					<td colspan="3">
						<p>1. Tính đến ngày <B tal:content="Tracking/getDateEndPrint"/> lãi suất của đơn hàng quá hạn:</p>
						<p>2. Bảng kê lãi tiền hàng trả chậm chi tiết như sau:</p>
					</td>
				</tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:10px;">
					<td colspan="3">
						<table width="100%" border="1" cellpadding="2" cellspacing="0">
							<thead>
								<tr>
									<th width="12%" class="left"><B>NGÀY</B></th>
									<th width="12%" class="left"><B>ĐẾN HẠN</B></th>
									<th width="18%" class="left"><B>NGÀY TÍNH <BR/>QUÁ HẠN</B></th>
									<th width="15%" align="right"><B>TIỀN HÀNG <BR/>QUÁ HẠN</B></th>
									<th width="10%" align="right"><B>SỐ NGÀY</B></th>
									<th width="15%" align="right"><B>LÃI SUẤT / <BR/>NGÀY</B></th>
									<th width="18%" align="right"><B>TIỀN LÃI<BR/>TRẢ CHẬM</B></th>
								</tr>
							</thead>
							<tbody>
								<tr tal:repeat="TCTR TCTRAll">
									<td align="left"><span tal:content="TCTR/getDatePrint"/></td>
									<td align="left"><span tal:content="TCTR/getDateLimitPrint"/></td>
									<td align="left"><span tal:content="TCTR/getDateRange"/></td>
									<td align="right"><span tal:content="TCTR/getValuePrint"/></td>
									<td align="right"><span tal:content="TCTR/getnDay"/></td>
									<td align="right"><span tal:content="TCTR/getRatePrint"/></td>
									<td align="right"><span tal:content="TCTR/getRateValuePrint"/> đ</td>
								</tr>
								<tr>
									<td align="right" colspan="6"><span>TIỀN LÃI TRẢ CHẬM TRONG KÌ</span></td>
									<td align="right"><span tal:content="NRateValue/formatCurrency"/> đ</td>
								</tr>
								<tr>
									<td align="right" colspan="6"><span>TIỀN LÃI TRẢ CHẬM CŨ</span></td>
									<td align="right"><span tal:content="NRateValueOld/formatCurrency"/> đ</td>
								</tr>								
								<tr>
									<td align="right" colspan="6"><B>TIỀN LÃI TRẢ CHẬM LÃI MỚI</B></td>
									<td align="right"><B tal:content="NRateValueNew/formatCurrency"/> đ</td>
								</tr>
							</tbody>
						</table>
					</td>					
				</tr>	
				<tr><td colspan="3" align="right">(<span tal:content="NRateValueNew/readDigit" />đồng)</td></tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:11px; line-height:1px;">
					<td colspan="3">
						<table width="100%" cellpadding="1" cellspacing="0" border="0">
							<tr>
								<td width="30%" align="center" />								
								<td width="30%" align="center" />
								<td width="40%" align="center">
									Ngày ........ tháng ........ năm............
								</td>
							</tr>
							<tr>
								<td width="30%" align="center">
									Xác nhận bên mua
								</td>
								<td width="30%" align="center">
									Lập bảng
								</td>
								<td width="40%" align="center">									
									Xác nhận bên bán									
								</td>
							</tr>
							<tr>
								<td width="30%" align="center">
									<i>Kí và ghi rõ họ tên</i>
								</td>
								<td width="30%" align="center">
									<i>Kí và ghi rõ họ tên</i>
								</td>
								<td width="40%" align="center">									
									<i>Kí và ghi rõ họ tên</i>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>