<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div class="menu">			
			<div id="sidebar">
				<ul style="display: block;">																				
					<li tal:repeat="Customer1 CustomerAll" tal:attributes="class php:Customer1->getId()==Customer->getId()?'active':'disable'">
						<a tal:attributes="href php:Tracking->getURLCustomerTracking(Customer1->getId())">
							<i class="icon-user" /><span tal:content="Customer1/getName"/>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">															
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="40"><i class="glyphicons-fax"/></th>
										<th><div class="text-left">TÊN</div></th>
										<th width="120">LƯU TIỀN LÃI</th>
										<th width="120">IN TIỀN LÃI</th>
										<th width="120">LƯU ĐỐI CHIẾU</th>
										<th width="120">IN ĐỐI CHIẾU</th>
									</tr>
								</thead>
								<tbody role="alert" aria-live="polite" aria-relevant="all">
									<tr tal:repeat="CT CTAll">
										<td align="center" tal:content="repeat/CT/number"/>
										<td><span tal:content="CT/getNote"/></td>
										<td class="center"><a tal:attributes="href php:Tracking->getURLCustomerTrackingDetailDebt(Customer->getId(), CT->getId())">Click (1)</a></td>
										<td class="center"><a tal:attributes="href php:Tracking->getURLCustomerTrackingDetailDebtPrint(Customer->getId(), CT->getId())" target="blank">Click (2) </a></td>
										<td class="center"><a tal:attributes="href php:Tracking->getURLCustomerTrackingDetailSave(Customer->getId(), CT->getId())">Click (3)</a></td>
										<td class="center"><a tal:attributes="href php:Tracking->getURLCustomerTrackingDetailPrint(Customer->getId(), CT->getId())" target="blank">Click (4)</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>		
	</body>
</html>