<!DOCTYPE html>
<html lang="en">
	<div id="ResourceAll">
		<P>DANH SÁCH MẶT HÀNG</P>
		<ul class="activity-list">
			<li tal:repeat="Resource ResourceAll">
				<a class="resource-item">
					<button class="Resource pull-left" tal:attributes="alt Resource/getId;data-delta 'plus' ">+</button>
					<strong tal:content="Resource/getName"/>
					<button class="Resource pull-right" tal:attributes="alt Resource/getId;data-delta 'minus' ">-</button>
				</a>
			</li>
		</ul>
	</div>	
	<script>
		//-----------------------------------------------------------------------------------
		// Click gọi hàng
		//-----------------------------------------------------------------------------------
		$('.Resource').click(function(e){
			var IdResource 	= $(this).attr('alt');
			var Delta 		= $(this).attr('data-delta');				
			var IdDomain 	= $("#DomainActive").attr('alt');
			var IdOrder 	= $("#OrderInfo").attr('data-id');
			
			URL = "/selling/"+IdDomain+"/call/order/"+IdOrder+"/"+IdResource+"/"+Delta;
			e.stopImmediatePropagation();
			$.ajax({
				type: "POST", 
				async: false,
				url: URL,
				dataType: 'json',
				success: function(data){										
					$("#OrderActive").load("/selling/" + IdDomain + "/load/order/"+IdOrder);
				}
			});
		});
	</script>
</html>