<!DOCTYPE html>
<html lang="en">
	<div class="widget-box">
		<div class="controls">
			<input type="text" placeholder="Nhập tên để tìm" style="width:100%;"/>
		</div>
	</div>
	
	<div id="ResourceAll">
		<div id="OELAll" class="widget-box">
			<div class="widget-content nopadding size-12">
				<ul class="activity-list">
					<li tal:repeat="Resource ResourceAll">
						<a class="course-item">
							<button class="Resource pull-left" tal:attributes="alt Resource/getId;data-delta 'plus' ">+</button>
							<strong tal:content="Resource/getName"/>
							<button class="Resource pull-right" tal:attributes="alt Resource/getId;data-delta 'minus' ">-</button>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>	
	<script>
		//-----------------------------------------------------------------------------------
		// Click gọi hàng
		//-----------------------------------------------------------------------------------
		$('.Resource').click(function(e){
			var IdResource 	= $(this).attr('alt');
			var Delta 		= $(this).attr('data-delta');				
			var IdDomain 	= $("#DomainActive").attr('alt');
			var IdOrder 	= $("#OrderInfo").attr('data-id');
			
			URL = "/selling/"+IdDomain+"/call/order/"+IdOrder+"/"+IdResource+"/"+Delta;
			e.stopImmediatePropagation();
			$.ajax({
				type: "POST", 
				async: false,
				url: URL,
				dataType: 'json',
				success: function(data){										
					$("#OrderActive").load("/selling/" + IdDomain + "/load/order/"+IdOrder);
				}
			});
		});
	</script>
</html>