<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">															
					<div class="widget-box">
						<div class="widget-content nopadding">							
							<table class="table table-bordered table-striped table-hover">
								<thead>									
									<tr>
										<th class="left">NGÀY</th>
										<th class="left">ĐẾN HẠN</th>
										<th class="left">NGÀY TÍNH <BR/>ĐẾN HẠN</th>
										<th width="120" class="right">TIỀN HÀNG<BR/>QUÁ HẠN</th>
										<th width="120" class="right">SỐ NGÀY</th>
										<th width="120" class="right">LÃI SUẤT</th>
										<th width="120" class="right">TIỀN LÃI<BR/>TRẢ CHẬM</th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="TCTR TCTRAll">
										<td align="left"><span tal:content="TCTR/getDatePrint"/></td>
										<td align="left"><span tal:content="TCTR/getDateLimitPrint"/></td>
										<td align="left"><span tal:content="TCTR/getDateRange"/></td>
										<td align="right"><span tal:content="TCTR/getValuePrint"/></td>
										<td align="right"><span tal:content="TCTR/getnDay"/></td>
										<td align="right"><span tal:content="TCTR/getRatePrint"/></td>
										<td align="right"><span tal:content="TCTR/getRateValuePrint"/></td>
									</tr>
									<tr>
										<td align="right" colspan="6">TỔNG LÃI</td>
										<td align="right"><B tal:content="SumRateValue"/></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>		
	</body>
</html>