<html>
	<body>
		<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr style="font-size:10px; line-height:1px;">
					<td width="6%">
						<img width="60" src="/data/images/logo_gray.jpg"/>
					</td>
					<td width="60%">
						<h4>CỬA HÀNG THỨC ĂN THỦY SẢN – GIA SÚC – THUỐC THÚ Y BA ĐỨC</h4>
						<p>Địa chỉ: 234 Khóm Phú Hòa - TT Cái Tàu Hạ - Châu Thành – Đồng Tháp</p>
						<p>Điện thoại: 0673 842 747 – Fax: 0673 611 798</p>
					</td>
					<td width="32%" align="right">
						<h4>PHỤ LỤC CHI TIẾT LÃI</h4>
						<p>TỪ NGÀY <b tal:content="Tracking/getDateStartPrint"/> ĐẾN <b tal:content="Tracking/getDateEndPrint"/></p>
					</td>
				</tr>
				<tr><td colspan="3"/></tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:11px; line-height:1px; text-align:center;">
					<td colspan="3">
						<p>Kính gửi quí khách hàng: <b tal:content="php:mb_strtoupper(CT->getCustomer()->getName(),'UTF8')" style="font-size:15px;"/> CMND: <B tal:content="CT/getCustomer/getCard"/></p>
						<p>Địa chỉ: <span tal:content="CT/getNote"/></p>
					</td>
				</tr>
				<tr><td colspan="3"/></tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:11px; line-height:1px;">
					<td colspan="3">
						<p>1. Tính đến ngày <B tal:content="Tracking/getDateEndPrint"/> lãi suất của đơn hàng quá hạn:</p>
						<p>2. Phát sinh lãi chi tiết như sau:</p>
					</td>
				</tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:10px;">
					<td colspan="3">
						<table width="100%" border="1" cellpadding="2" cellspacing="0">
							<thead>
								<tr>
									<th width="20%" class="left"><B>NGÀY</B></th>
									<th width="20%" align="right"><B>GIÁ TRỊ</B></th>
									<th width="20%" align="right"><B>SỐ NGÀY</B></th>
									<th width="20%" align="right"><B>LÃI SUẤT</B></th>
									<th width="20%" align="right"><B>TIỀN LÃI</B></th>
								</tr>
							</thead>
							<tbody>
								<tr tal:repeat="TCTR TCTRAll">
									<td align="left"><span tal:content="TCTR/getDatePrint"/></td>
									<td align="right"><span tal:content="TCTR/getValuePrint"/></td>
									<td align="right"><span tal:content="TCTR/getnDay"/></td>
									<td align="right"><span tal:content="TCTR/getRate"/></td>
									<td align="right"><span tal:content="TCTR/getRateValuePrint"/></td>
								</tr>
								<tr>
									<td align="right" colspan="4">TỔNG LÃI</td>
									<td align="right"><B tal:content="string:0"/></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<!--
				<tr><td colspan="3"/></tr>
				<tr style="font-size:13px; line-height:1px;">
					<td colspan="3">						
						3. Tính đến ngày <b tal:content="Tracking/getDateEndPrint"/> quí khách hàng phải trả cho cửa hàng chúng tôi là: <b tal:content="php:Tracking->getTCT( CT->getId() )->last()->getDebtValuePrint()"/> đồng
					</td>
				</tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:13px; line-height:1px;">
					<td colspan="3">												
						( <span tal:content="php:Tracking->getTCT( CT->getId() )->last()->getDebtValueStrPrint()"/>đồng chẳn)
					</td>
				</tr>
				!-->
				<tr><td colspan="3"/></tr>																
				<tr style="font-size:11px; line-height:1px;">
					<td colspan="3">
						<table width="100%" cellpadding="1" cellspacing="0" border="0">
							<tr>
								<td width="30%" align="center">
									
								</td>
								<td width="20%" align="center">
									
								</td>
								<td width="50%" align="center">
									<p>Đồng Tháp, ngày ........ tháng ........ năm............</p>
									<p>Cửa hàng</p>
									<i>(ký và ghi rõ họ tên)</i>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>