<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">															
					<div class="widget-box">
						<div class="widget-content nopadding">							
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th class="right" colspan="4">DƯ NỢ CŨ</th>
										<th width="120" class="right"><B tal:content="OldDebt"/></th>
									</tr>
									<tr>
										<th width="40">NGÀY</th>										
										<th class="right">NHẬP HÀNG</th>
										<th width="120" class="right">ỨNG TIỀN</th>
										<th width="120" class="right">THANH TOÁN</th>
										<th width="120" class="right">CÒN NỢ</th>										
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="D Data">
										<td class="left" tal:content="php: D['DatePrint']" />
										<td align="right"><span tal:content="php: D['OEValuePrint']" /></td>
										<td align="right"><span tal:content="php: D['PCValuePrint']" /></td>
										<td align="right"><span tal:content="php: D['CCValuePrint']" /></td>
										<td align="right"><span tal:content="php: D['DebtValuePrint']" /></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>		
	</body>
</html>