<html>
	<body>
		<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr style="font-size:13px; line-height:1px;">
					<td width="6%">
						<img width="60" src="/data/images/logo_gray.jpg"/>
					</td>
					<td width="50%">
						<h4>CỬA HÀNG THỨC ĂN THỦY SẢN – GIA SÚC – THUỐC THÚ Y BA ĐỨC</h4>
						<p>Địa chỉ: 234 Khóm Phú Hòa - TT Cái Tàu Hạ - Châu Thành – Đồng Tháp</p>
						<p>Điện thoại: 0673 842 747 – Fax: 0673 611 798</p>
					</td>
					<td width="42%" align="right">
						<h4>BIÊN BẢN ĐỐI CHIẾU CÔNG NỢ KHÁCH HÀNG</h4>
						<p>TỪ NGÀY <b tal:content="Tracking/getDateStartPrint"/> ĐẾN <b tal:content="Tracking/getDateEndPrint"/></p>
					</td>
				</tr>
				<tr><td colspan="3"/></tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:13px; line-height:1px; text-align:center;">
					<td colspan="3">
						<p>Kính gửi quí khách hàng: <b tal:content="php:mb_strtoupper(CT->getCustomer()->getName(),'UTF8')" style="font-size:15px;"/> CMND: <B tal:content="CT/getCustomer/getCard"/></p>
						<p>Địa chỉ: <span tal:content="CT/getNote"/></p>
					</td>
				</tr>
				<tr><td colspan="3"/></tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:13px; line-height:1px;">
					<td colspan="3">
						<p>1. Tính đến ngày <B tal:content="Tracking/getDateEndPrint"/> quí khách hàng còn nợ cửa hàng chúng tôi:</p>
						<p>2. Chi tiết phát sinh công nợ bao gồm các khoản sau:</p>
					</td>
				</tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:13px;">
					<td colspan="3">
						<table cellpadding="2" cellspacing="0" border="1">
							<thead>	
								<tr>
									<th width="90%"	align="right"><b>DƯ NỢ CŨ</b></th>
									<th width="10%"	align="right">
										<b tal:condition="PreTracking" tal:content="php: PreTracking->getTCT( CT->getId() )->last()->getDebtValuePrint()"/>
										<b tal:condition="not: PreTracking" tal:content="string:0"/>
									</th>
								</tr>								
							</thead>
						</table>
						<table cellpadding="2" cellspacing="0" border="1">
							<thead>	
								<tr>
									<th width="5%"	rowspan="2" align="center"><b>NGÀY</b></th>
									<th width="55%" colspan="5" align="left"><b>CHI TIẾT NHẬP HÀNG</b></th>
									<th width="10%" rowspan="2" align="right"><b>TIỀN HÀNG</b></th>
									<th width="10%"	rowspan="2" align="right"><b>ỨNG TIỀN</b></th>
									<th width="10%" rowspan="2" align="right"><b>THANH TOÁN</b></th>
									<th width="10%"	rowspan="2" align="right"><b>CÒN NỢ</b></th>
								</tr>
								<tr>
									<th width="27.5%" align="left"><b>TÊN HÀNG</b></th>
									<th width="8.25%" align="left"><b>ĐVT</b></th>
									<th width="5.5%" align="right"><b>SL</b></th>				
									<th width="5.5%" align="right"><b>Đ.GIÁ</b></th>
									<th width="8.25%" align="right"><b>T.TIỀN</b></th>
								</tr>
							</thead>
							<tbody>
								<tr tal:repeat="TCT php:Tracking->getTCT(CT->getId())">
									<td align='center' tal:content="TCT/getDatePrint"/>
									<td align='left' colspan="5">
										<table tal:repeat="OE TCT/getOEAll" border="0" cellpadding="2" cellspacing="0">
											<tr tal:repeat="Detail OE/getDetailAll">
												<td width="50%" align="left" tal:content="Detail/getResource/getName" style="border-right:1px dashed #696969;"/>
												<td width="15.1%" align="left" tal:content="Detail/getResource/getUnit" style="border-right:1px dashed #696969;"/>
												<td width="10.1%" align="right" tal:content="Detail/getCountPrint" style="border-right:1px dashed #696969;"/>							
												<td width="10.1%" align="right" tal:content="Detail/getPricePrint" style="border-right:1px dashed #696969;"/>
												<td width="15%" align="right" tal:content="Detail/getValuePrint"/>
											</tr>
										</table>					
									</td>
									<td align='right' tal:content="TCT/getOEValuePrint"/>
									<td align='right' tal:content="TCT/getPCValuePrint"/>
									<td align='right' tal:content="TCT/getCCValuePrint"/>
									<td align='right' tal:content="TCT/getDebtValuePrint"/>
								</tr>
								<tr>
									<td colspan="9" align="right"><b>DƯ NỢ CŨ MỚI</b></td>
									<td align="right">
										<b tal:content="php:Tracking->getTCT( CT->getId() )->last()->getDebtValuePrint()"/>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:13px; line-height:1px;">
					<td colspan="3">						
						3. Tính đến ngày <b tal:content="Tracking/getDateEndPrint"/> quí khách hàng phải trả cho cửa hàng chúng tôi là: <b tal:content="php:Tracking->getTCT( CT->getId() )->last()->getDebtValuePrint()"/> đồng
					</td>
				</tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:13px; line-height:1px;">
					<td colspan="3">												
						( <span tal:content="php:Tracking->getTCT( CT->getId() )->last()->getDebtValueStrPrint()"/>đồng chẳn)
					</td>
				</tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:13px; line-height:1px;">
					<td colspan="3">
						4. Quí khách hàng vui lòng thanh toán nợ cho cửa hàng chúng tôi đến hạn (nếu có): .......................................................................................................................................
					</td>
				</tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:13px; line-height:2px;">
					<td colspan="3">
						Biên bản này được lập thành 02 bản có giá trị như nhau. Mỗi bên giữ 01 bản làm cơ sở cho việc thanh toán sau này giữa 02 bên. Trong vòng
						03 ngày kể từ ngày nhận được biên bản đối chiếu công nợ này mà cửa hàng chúng tôi không nhận được phản hồi từ quí khách hàng thì công nợ 
						trên xem như được chấp nhận.
					</td>
				</tr>
				<tr><td colspan="3"/></tr>
				<tr style="font-size:13px; line-height:1px;">
					<td colspan="3">
						<table width="100%" cellpadding="1" cellspacing="0" border="0">
							<tr>
								<td width="35%" align="center">
									<p>Khách hàng xác nhận</p>
									<i>(ký và ghi rõ họ tên)</i>
								</td>
								<td width="30%" align="center">
									<p>Người lập</p>
									<i>(ký và ghi rõ họ tên)</i>
								</td>
								<td width="35%" align="center">
									<p>Đồng Tháp, ngày ........ tháng ........ năm............</p>
									<p>Bên bán hàng</p>
									<i>(ký và ghi rõ họ tên)</i>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>