<!DOCTYPE html>
<html lang="en">
	<div id="OELAll">
		<p>NHẬT KÝ BÁN HÀNG</p>
		<table class="table table-hover">
			<thead>
				<tr>															
					<th><div class="text-left">THỜI GIAN</div></th>
					<th><div class="text-right">GIÁ TRỊ</div></th>					
				</tr>
			</thead>
			<tbody>
				<tr tal:repeat="OEL OELAll">					
					<td><div class="OrderLog text-left" tal:content="OEL/getDateTimePrint" tal:attributes="alt OEL/getIdOrder"/></td>
					<td><div class="text-right" tal:content="OEL/getOrder/getValuePrint"/></td>					
				</tr>
			</tbody>
		</table>
	</div>	
	<script>		
		//Click vào đơn hàng load lại nội dung
		$(".OrderLog").click(function(){
			var IdDomain 	= $("#DomainActive").attr('alt');
			var IdOrder 	= $(this).attr('alt');
			$("#OrderActive").load("/selling/" + IdDomain + "/load/order/"+IdOrder);
		});
	</script>
</html>