<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">
			<ul>
				<li tal:repeat="Supplier SupplierAll" class="Supplier" tal:attributes="alt Supplier/getId">
					<a><i class="glyphicons-show_big_thumbnails" /><span tal:content="Supplier/getName"/></a>
				</li>				
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-3"><div id="OELAll"/></div>
				<div class="col-6"><div id="OrderActive"/></div>
				<div class="col-3">
					<div class="widget-box">
						<div class="controls">
							<input id="SearchName" type="text" placeholder="Nhập tên để tìm" style="width:100%;"/>
						</div>
					</div>	
					<div id="ResourceAll"/>
				</div>
			</div>
		</div>
		<div id="DomainActive" tal:attributes="alt Domain/getId" />
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
        <script>
			var IdDomain 	= $("#DomainActive").attr('alt');
			
			//Load hết tất cả những đơn hàng đang được quản lý
			$("#OELAll").load("/selling/"+IdDomain+"/load/oel/all");
			
			//Xử lí search tên
			$('#SearchName').bind("enterKey",function(e){
				var Name = $(this).val();
				//$("#ResourceAll").load("/selling/"+IdDomain+"/load/resource/"+Name);
				
			});
			$('#SearchName').keyup(function(e){
				if(e.keyCode == 13){
					$(this).trigger("enterKey");
				}
			});
			
			
			//Xử lí click event nhà cung cấp
			$('.Supplier').click(function(){
				var IdSupplier 	= $(this).attr('alt');				
				$(this).toggleClass('active').siblings().removeClass('active');
				$("#ResourceAll").load("/selling/"+IdDomain+"/load/resource/"+IdSupplier);				
			});			
			//Mặc định lấy click của nhà phân phối đầu tiên
			$('.Supplier:first').click();
        </script>
	</body>
</html>