<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">					
					<div class="widget-box">
						<div class="widget-content nopadding">							
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="40">
											ID
										</th>
										<th><div class="text-left">THẺ</div></th>										
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Tag TagAll">
										<td class="center">											
											<div class="Tag" tal:attributes="alt php: URL . '/' . Tag->getId() . '/no'" tal:condition="php:Resource->checkTag( Tag->getId() )">
												<i class="glyphicons-check"/>
											</div>											
											<div class="Tag" tal:attributes="alt php: URL . '/' . Tag->getId() . '/yes'" tal:condition="php:not Resource->checkTag( Tag->getId() )">
												<i class="glyphicons-unchecked"/>												
											</div>											
										</td>
										<td><span tal:content="Tag/getName"/></td>										
									</tr>
								</tbody>								
							</table>
						</div>
					</div>										
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
				
			//-----------------------------------------------------------------------------------
			//Insert 1 UNIT
			$('.Tag').click(function(){
				var URL = $(this).attr('alt');						
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){						
						location.reload();
					}
				});
				
			});
						
		/*]]>*/</script>
	</body>
</html>